{% from 'components/core/breadcrumbs' import breadcrumb %}
{% from 'components/core/show-header' import show_header %}
{% import 'components/core/forms' as forms %}
<form id="academic-year-form" hx-post="{{ route('admin.academic-year.store') }}" hx-swap="outerHTML" class="flex flex-col gap-y-2 p-4 mb-2">
    {{ csrf_field() }}
    <div class="flex max-w-full p-4 rounded-xl bg-white">
        <div class="flex flex-col flex-1">
            {{ show_header('Create Academic Year') }}
            <div class="flex gap-x-32 justify-between w-full">
                <div class="flex flex-wrap flex-col gap-y-4 w-full max-w-full">
                    {{ forms.form_field(
                        label:forms.label(
                            id:'year_label', 
                            content:'Year Label', 
                            attributes:{
                                'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900  after:text-red-500 after:content-[\'\*\']'}
                        ),
                        input:forms.text(
                            name:'year_label',
                            value: old.year_label ?: '',  
                            attributes:{
                                'class':'block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                                'required': true,
                                'placeholder' : '2000-2099'
                            }
                        ),
                        errors: errors.get('year_label'),
                        isColumn:true 
                    )}}
                    {{ forms.form_field(
                        label:forms.label(
                            id:'start_date', 
                            content:'Starting Date', 
                            attributes:{
                                'class':'whitespace-nowrap text-sm/6 font-medium text-green-900'}
                            ),
                        input:forms.date(
                            name:'start_date',
                            value: old.start_date ?: '',
                            attributes:{
                                'class':'block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                                'min' : date('now')|date('Y-m-d'),
                                'required' : true
                              }
                            ),
                        errors:errors.get('start_date'),
                        isColumn: true,
                    )}}
                    {{ forms.form_field(
                        label:forms.label(
                            id:'end_date', 
                            content:'Ending Date', 
                            attributes:{
                                'class':'whitespace-nowrap text-sm/6 font-medium text-orange-900'}
                            ),
                        input:forms.date(
                            name:'end_date',
                            value:  old.end_date ?: '',
                            attributes:{
                                'class':'block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                                'min' : date('now')|date('Y-m-d'),
                                'required' : true
                            }
                            ),
                        errors:errors.get('end_date'),
                        isColumn: true,
                    )}}
                </div>
            </div>
        </div>  
    </div>

    <div class="flex gap-x-2 px-4">
        <button type="submit" class="cursor-pointer bg-blue-900 text-gray-200 hover:bg-blue-600 hover:text-white duration-300 rounded-lg px-2 py-1 font-semibold text-sm">Create Academic Year</button>
        <button type="button" popovertarget="create-academic-year-popover" class="cursor-pointer bg-white border-1 border-gray-600 text-gray-900 hover:bg-red-500 hover:border-white hover:text-white duration-300 rounded-lg p-2 font-semibold">Cancel</button>

    </div>
</form>


