{% import 'components/core/forms' as forms %}
{% from 'components/core/show-nav-item' import show_nav_item %}
{% from 'components/core/breadcrumbs' import breadcrumb %}
{% from 'components/core/show-header' import show_header %}
{% from 'components/core/show-item' import show_item %}

<div class="flex mx-8">
    <a class="ml-auto p-2 text-md text-blue-900 text-sm font-medium hover:underline cursor-pointer" 
            href="{{ route('admin.users.show', {'user': user } ) }}" 
            hx-get="{{ route('admin.users.show', {'user': user } ) }}" 
            hx-push-url="true"
            hx-trigger="click" 
            hx-swap="innerHTML transition:true"
            hx-target="#access-control-content">
        Back
    </a>
</div>
<div class="flex flex-1 flex-col mx-8">
    <form method="POST" id="create-form" hx-post="/admins/users/{{ user.id }}" hx-target="#access-control-content" class="flex flex-col gap-y-4">
        {{ csrf_field() }}
        {{ method_field('PATCH') }}
        <div class="flex max-w-full rounded-xl bg-white px-2 shadow-sm ring-1 ring-gray-950/5">
            <div class="flex flex-col p-4 flex-1">
                {{ show_header('Details') }}
                <div class="flex gap-x-32 justify-between w-full">
                    <div class="flex flex-col gap-y-4 w-full">
                        {{ forms.form_field(
                            label:forms.label(
                                id:'first_name', 
                                content:'First Name', 
                                attributes:{
                                    'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900  after:text-red-500 after:content-[\'\*\']'}
                            ),
                            input:forms.text(
                                name:'first_name', 
                                value: user.first_name,
                                attributes:{
                                    'class':'block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                                    'required':true}
                            ),
                            isColumn:true 
                        )}}
                        {{ forms.form_field(
                            label:forms.label(
                                id:'last_name', 
                                content:'Last Name', 
                                attributes:{
                                    'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900  after:text-red-500 after:content-[\'\*\']'}
                            ),
                            input:forms.text(
                                name:'last_name', 
                                value: user.last_name,
                                attributes:{
                                    'class':'block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                                    'required':true}
                            ),
                            isColumn:true 
                        )}}
                        {{ forms.form_field(
                            label:forms.label(
                                id:'email', 
                                content:'Email', 
                                attributes:{
                                    'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900 after:text-red-500 after:content-[\'\*\']'}
                                    ),
                            input:forms.text(
                                name:'email', 
                                value: user.email,
                                attributes:{
                                    'class':'flex-1 cursor-pointer block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                                    'placeholder':'',
                                    'required':false}
                            ),
                            errors:errors.get('email'),
                            isColumn:true 
                        )}}
                        <div>Reset Password</div>
                </div>

                    <div class="flex flex-1/2 flex-col gap-y-4">
                        <div class="flex flex-1 flex-col gap-y-4 w-full p-4 bg-gray-100 rounded-lg">
                            <div class="flex text-center my-2">
                                <h3 class="text-lg font-medium">
                                    Courses
                                </h3>
                            </div>

                            {% for id, course in courses %}
                            <div class="flex items-center hover:bg-gray-50 p-2 border-b border-gray-300 text-sm">
                                <div class="w-1/5 max-w-xs">
                                    {{ forms.checkbox(name:'courses[]', id:course, value:id, isOwn: (course in user_courses) ? true : false,) }}
                                </div>
                                <div class="w-4/5 max-w-xs">
                                    {{ forms.label(id:course, content:course) }}
                                </div>
                            </div>         
                            {% endfor %}

                            {% for error in errors.get('courses') %}
                            <span class="text-red-500 text-sm font-semibold whitespace-nowrap">{{ error }}</span>    
                            {% endfor %}  

                        </div>
                    </div>
                </div>
            </div>  
        </div>

        <div class="flex flex-col max-w-full rounded-xl bg-white p-8 shadow-sm ring-1 ring-gray-950/5">
            <div>
                {{ show_header('User Roles and Permissions') }}
            </div>
            <div class="flex gap-x-4 p-4 max-w-full max-h-96">
                <div class="flex flex-col gap-y-2 p-4 bg-gray-100 rounded-lg">
                    <input class="border-1 border-gray-500 rounded-md p-2" type="search"
                        name="search" placeholder="Search Roles..."
                        hx-post="/admins/roles/load-role-checkbox"
                        hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load"
                        hx-target="#search-results"
                        hx-indicator=".htmx-indicator"
                        hx-headers='{"X-CSRF-TOKEN": "{{ csrf_token() }}"}'
                        hx-vals='{"user_id" : "{{ user.id }}", "_method": "POST" }'>
                        <span class="htmx-indicator ml-4 text-xs text-gray-500">
                            Searching...
                        </span>
                    <div class="max-h-48 overflow-y-auto overscroll-x-none no-scrollbar">
                        <table class="table-auto w-full text-left">
                            <thead>
                                <tr class="sticky top-0 w-full">
                                    <th class="px-2 py-1 font-bold border-b border-gray-300 text-md bg-gray-100 text-blue-900 ml-auto">Select</th>
                                    <th class="px-2 py-1 font-bold border-b border-gray-300 text-md bg-gray-100 text-blue-900 ml-auto">Roles</th>
                                </tr>
                            </thead>
                            <tbody  id="search-results">
                            </tbody>
                        </table>
                    </div>
                    {% for error in errors.get('roles') %}
                    <span class="text-red-500 text-sm font-semibold whitespace-nowrap">{{ error }}</span>    
                    {% endfor %}  
                </div>
                <div class="flex flex-1 flex-col bg-blue-950/95 rounded-lg">
                    <h1 class="sticky top-0 text-gray-50 text-lg font-medium p-4">Role's Permissions</h1>
                    <div class="p-4 overflow-y-auto overscroll-x-none no-scrollbar">
                        {% for key, permission in role_permissions %}
                            <div class="text-gray-50 text-md border-b-1 border-gray-50">
                                {{ permission }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="flex flex-1 flex-col bg-blue-950 rounded-lg ">
                    <h1 class="sticky top-0 text-gray-50 text-lg font-medium p-4">Custom Permissions</h1>
                    <div id="user-permissions" class="sortable p-4  overflow-y-auto overscroll-x-none no-scrollbar" hx-trigger="end">
                        <div></div>
                        {% for key, permission in user_permissions %}
                            <div class="text-gray-50 text-md border-b-1 border-gray-50">
                                <input type='hidden' name='permissions[]' value="{{ key }}">{{ permission }}
                            </div>                        
                        {% endfor %}
                    </div>
                </div>
                <div class="flex flex-1 flex-col bg-blue-950/95 rounded-lg">
                    <h1 class="sticky top-0 text-gray-50 text-lg font-medium p-4">Permissions</h1>
                    <div id="permissions" class="sortable p-4 overflow-y-auto overscroll-x-none no-scrollbar" hx-trigger="end">
                        <div></div>
                        {% for key, permission in permissions %}
                            <div class="text-gray-50 text-md border-b-1 border-gray-50">
                                <input type='hidden' name='permissions[]' value="{{ key }}">{{ permission }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>  

        <div class="flex gap-x-2 justify-end">
            <button type="submit" class="cursor-pointer bg-orange-600 text-gray-200 hover:bg-orange-500 hover:text-white duration-300 rounded-lg p-2 font-semibold text-sm">Update</button>
            <button form="none" class="cursor-pointer bg-red-600 text-gray-200 hover:bg-red-500 hover:text-white duration-300 rounded-lg p-2 font-semibold text-sm"
                    popovertarget="delete-popover">
                        Delete
            </button>
            <a 
                    href="{{ route('admin.users.show', {'user': user } ) }}" 
                    hx-get="{{ route('admin.users.show', {'user': user } ) }}" 
                    hx-push-url="true"
                    hx-trigger="click" 
                    hx-swap="innerHTML transition:true"
                    hx-target="#access-control-content"
                class="cursor-pointer bg-white border-1 border-gray-600 text-gray-900 hover:bg-red-500 hover:border-white hover:text-white duration-300 rounded-lg p-2 font-semibold">
                Cancel
            </a>
        </div>
    </form>
</div>

<div popover="manual" class="backdrop:bg-gray-900/15 backdrop:backdrop-blur-[1px] m-auto p-16 rounded-xl" id="delete-popover">
    <div class="flex flex-col gap-y-4">
        {{ show_header('Delete User') }}
        <div class="flex flex-1 flex-col">
            <div class="flex flex-col gap-y-4">
                    <div class="flex gap-x-32 justify-between w-full">
                        <h1>Are you sure to delete this user?</h1>
                    </div>
                <div class="flex gap-x-2">
                    <button form="delete-form" type="submit" class="mx-auto px-32 cursor-pointer bg-red-600 text-gray-200 hover:bg-red-500 hover:text-white duration-300 rounded-lg py-2 font-semibold text-sm">Delete</button>
                </div>
            </div>
        </div>
    </div>
    
    <button popovertarget="delete-popover" popovertargetaction="hide" class="absolute cursor-pointer right-0 top-0 pt-4 pr-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>          
    </button>
  </div>

<form method="POST" hx-post="/admins/users/{{ user.id }}" class="hidden" id="delete-form" hx-target="body">
    {{ csrf_field() }}
    {{ method_field('DELETE') }}
</form>

{% include 'components/core/sort-table' %}