{% import 'components/core/forms' as forms %}
{% from 'components/core/show-nav-item' import show_nav_item %}
{% from 'components/core/breadcrumbs' import breadcrumb %}
{% from 'components/core/show-header' import show_header %}
{% from 'components/core/show-item' import show_item %}

<div class="flex mx-8">
    <button class="ml-auto p-2 text-md text-blue-900 text-sm font-medium hover:underline cursor-pointer" 
            hx-get="/admins/load-users" 
            hx-trigger="click" 
            hx-swap="innerHTML transition:true"
            hx-target="#access-control-content">
        Back
    </button>
</div>

<div class="flex flex-col gap-y-4">
    <div class="flex flex-col max-w-full mx-8 rounded-xl bg-white p-8 shadow-sm ring-1 ring-gray-950/5">
        <div>
            {{ show_header('User Details') }}
        </div>
        <div class="flex max-w-full gap-y-4 justify-between">
            <div class="flex flex-1 flex-col gap-y-4">
                {{ show_item('Name', user.name)}}
                {{ show_item('Email', user.email)}}
            </div>
            <div class="flex flex-1 flex-col gap-y-4">
                <h1 class="mr-auto">Roles:</h1>
                {% for i in user_roles %}
                <h2> {{ i }}</h2>
                {% endfor %}
            </div>
            
        </div>
        <div class="flex">
            <button class="cursor-pointer bg-blue-900 text-gray-200 hover:bg-blue-600 hover:text-white duration-300 rounded-lg px-2 py-1 font-semibold text-sm">Click to Edit</button>
        </div>
    </div>  

    <div class="flex flex-col max-w-full mx-8 rounded-xl bg-white p-8 shadow-sm ring-1 ring-gray-950/5">
        <div>
            {{ show_header('User Permissions') }}
        </div>
        <div class="flex gap-x-4 max-w-full bg-blue-950">
            <div class="flex flex-1 flex-col">
                <h1 class="text-gray-50 text-lg font-medium p-4">My Permissions</h1>
                <div class="sortable p-4 max-h-48 overflow-y-auto overscroll-x-none no-scrollbar" hx-trigger="end">
                    <div></div>
                    {% for permission in user_permissions%}
                        <div class="text-gray-50 text-md border-b-1 border-gray-50"> {{ permission.name }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="flex flex-1 flex-col">
                <h1 class="text-gray-50 text-lg font-medium p-4">Permissions</h1>
                <div class="sortable p-4 max-h-48 overflow-y-auto overscroll-x-none no-scrollbar" hx-trigger="end">
                    <div></div>
                    {% for permission in permissions %}
                        <div class="text-gray-50 text-md border-b-1 border-gray-50"> {{ permission.name }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>  
</div>

<script>
    htmx.onLoad(function(content) {
        var sortables = content.querySelectorAll(".sortable");
        for (var i = 0; i < sortables.length; i++) {
          var sortable = sortables[i];
          var sortableInstance = new Sortable(sortable, {
            group: 'shared',
            animation: 150,

          });

          // Re-enable sorting on the `htmx:afterSwap` event
          sortable.addEventListener("htmx:afterSwap", function() {
            sortableInstance.option("disabled", false);
          });
        }
    })
</script>