{% from 'components/core/show-item' import show_item %}

<div id="subjects" class="bg-gray-100 px-4 rounded-2xl text-gray-800 "\>            
    <table>
        <thead>
        <tr>
            <th>Subject</th>
            <th>Max Score</th>
            <th>Score Obtained</th>
        </tr>
        </thead>
        <tbody>
            {% for subject in exam_record.subjects %}
            <tr>
                <td>{{ subject.subject_name }}</td>
                <td>{{ subject.score }}</td>
                <td>{{ subject.score_obtained }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



<div id="exam_record_info" class="htmx-animate flex flex-col justify-between gap-y-4 rounded-xl bg-gray-10 p-4 shadow-sm ring-1 ring-gray-950/5">
    {% if exam_record.status == "pass" %}
        <img class="object-cover w-48 h-48 mx-1" src="{{ asset('images/passing_score_badge.svg') }}"> 
    {% elseif exam_record.status == "perfect_score" %}
        <img class="object-cover w-48 h-48 mx-1" src="{{ asset('images/perfect_score_badge.svg') }}">  
    {% endif %}
    <div id="student-score-donut-graph" 
        class="h-[200px] w-[200px]"
        data-student-score-status="{{ exam_record.status }}" 
        data-student-score="{{ exam_record.total_score }}"
        data-exam-max-score = "{{ exam_record.max_score }}">
    </div>
    {{ show_item('Time Taken', exam_record.time_taken ~ ' minutes')}}
    {{ show_item('Date Taken', exam_record.date_taken|date("m/d/Y"))}}
    <script>
        student_data_div = document.getElementById('student-score-donut-graph');
        if (student_data_div) {
        student_score = student_data_div.dataset.studentScore;
        exam_max_score = student_data_div.dataset.examMaxScore;
         student_score_status = student_data_div.dataset.studentScoreStatus;
        student_score_status_message = student_score_status == 'perfect_score' ? 'Perfect' : student_score_status == 'pass' ? 'Pass' : 'Review';
        const remaining = exam_max_score - student_score;
        const marker_color = student_score_status == 'perfect_score' ? '#FFD700' : student_score_status == 'pass' ? 'rgb(44, 160, 44)' : 'rgb(255, 127, 14)';

        const student_score_donut_data = [{
            type: 'pie',
            values: [student_score, remaining],
            labels: [`${student_score} pts`, ''],            
            hole: 0.6,
            text: [`${student_score} pts`, ''],   
            textinfo: 'text',                        
            hoverinfo: 'none',      
            direction: 'counterclockwise',
            sort: false,
            marker: {
                line: { width: 2, color: '#333'},
                colors: [marker_color, 'rgb(220, 220, 220)'], 
                opacity: 0.7  
            },
            textposition: 'inside',
            showlegend: false
        }];

        const student_score_donut_layout = {
            title: 'Score Breakdown',
            showlegend: false,
            annotations: [
                {
                    font: {
                        size: 18
                    },
                    showarrow: false,
                    text: `${student_score_status_message}`,
                    x: 0.5,
                    y: 0.5
                }
            ],
            autosize: true,
            margin: { l: 5, r:5, t: 5, b: 5 },
        };
        Plotly.newPlot('student-score-donut-graph', student_score_donut_data, student_score_donut_layout, {displayModeBar: false});
    }
</script>
</div> 

