<div class="htmx-animate flex flex-1 flex-col gap-y-4 mx-8 ">
    {% if exam_records is not empty %}
    {% for record in exam_records %}
    <div class="flex flex-1">
        <details class="flex flex-1 flex-col bg-white rounded-xl shadow-sm ring-1 ring-gray-950/5">
            <summary class="flex flex-1 p-4 bg-white rounded-xl justify-between hover:bg-blue-900 group duration-300">
                <span class="text-blue-900 text-xl font-bold group-hover:text-white">Record #{{ record.attempt }}
                    <span class="text-xs text-slate-600 font-semibold group-hover:text-gray-400"> Total Score : {{ record.total_score }}pts</span>
                </span>
                <a      href="{{ route('exam_records.show', { exam: exam, exam_record: record}) }}"
                        hx-get="{{ route('exam_records.show', { exam: exam, exam_record: record}) }}"
                        hx-target="body"
                        hx-push-url=true
                        class="cursor-pointer text-blue-900 text-xl font-bold group-hover:text-white">
                    See full report
                </a>
            </summary>
            
                <div class="flex flex-1 flex-col prose max-w-none gap-y-4 border-t-1 border-gray-950/5">
                    <div class="px-4 rounded-2xl text-gray-800">            
                        <table>
                            <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Total Score</th>
                                <th>Scores Obtained</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for subject in record.subjects %}
                                <tr>
                                    <td>{{ subject.subject_name }}</td>
                                    <td>{{ subject.score }}</td>
                                    <td>{{ subject.score_obtained }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            
        </details>
    </div>
    {% endfor %}
    {% else %}
    <div class="flex flex-1">
        <details class="flex flex-1 flex-col bg-white rounded-xl shadow-sm ring-1 ring-gray-950/5">
            <summary class="flex flex-1 p-4 bg-white rounded-xl justify-between hover:bg-blue-900 group duration-300">
                <span class="text-blue-900 text-xl font-bold group-hover:text-white">No Exam Records
                </span>
            </summary>
        </details>
    </div>
    {% endif %}
</div>