{% from 'components/core/show-nav-item' import show_nav_item %}
{% from 'components/core/breadcrumbs' import breadcrumb %}
{% from 'components/core/show-header' import show_header %}
{% from 'components/core/show-item' import show_item %}

{% extends 'components/core/faculty-layout' %}

{% block content %}

{{ breadcrumb() }}
<div class="flex flex-1 flex-col my-4">
    <div class="flex flex-col gap-2 max-w-full h-fit mx-8 rounded-xl ">

        <div class="flex flex-col w-full gap-y-4 rounded-xl bg-white p-4 shadow-sm ring-1 ring-gray-950/5 ">
            <div class="flex flex-col w-full gap-y-1">
                <h1 class="text-3xl font-bold text-gray-800">Report: {{ exam_name }}</h1>
                <span class="text-xs pl-2 text-gray-500 font-semibold">Created Date : {{ created_date }}</span>
                <div class="flex flex-wrap pl-2 items-center w-full gap-0.5">
                        <span class="text-xs text-gray-500 font-semibold">Course/s : </span>
                        {% for course in courses %}
                        <span class=" inline-flex items-center px-2 py-0.5 min-w-fit  bg-blue-100 rounded-full text-blue-900 font-semibold text-xs select-none"> 
                            {{ course }}
                        </span>
                        {% endfor %}
                </div>
                <div class="flex flex-wrap pl-2 items-center w-full gap-0.5">
                        <span class="text-xs text-gray-500 font-semibold">Bloom's Taxonomy level Contained : </span>
                        {% for level in blooms_level_contained %}
                        <span class=" inline-flex items-center px-2 py-0.5 min-w-fit  bg-blue-100 rounded-full text-blue-900 font-semibold text-xs select-none"> 
                            {{ level }}
                        </span>
                        {% endfor %}
                </div>
                <div class="flex flex-col w-full bg-gray-100 rounded-lg p-2">
                    <h1 class="text-md font-bold text-gray-800">Goal of this Report:</h1>
                    <p class="text-sm font-semibold text-gray-800">
                        This Report aims to help Faculty users gain insights from the Exam Data.
                    </p>
                    <h1 class="text-md font-bold text-gray-800">Description of Variables:</h1>
                    <p>Explain the Bloom's level</p>
                    <p>Explain the metric that are going to be used for this report</p>
                </div>
            </div>
            <div class="flex flex-col w-full gap-y-2">
                <h1 class="text-3xl font-bold text-gray-800">Data Overview</h1>
                <details class="details-animated w-full overflow-hidden bg-white rounded-lg shadow-sm ring-1 ring-gray-950/5">
                    <summary class="flex flex-1 p-2 text-md font-bold text-gray-800 justify-between hover:bg-blue-100 cursor-pointer duration-300">
                        <h1 class="">Data Types:</h1>
                    </summary>
                        <div class="overflow-x-auto shadow rounded-lg">
                            <table class="min-w-full bg-white border border-gray-200">
                                <thead>
                                <tr class="bg-gray-100 text-gray-700 uppercase text-sm leading-normal">
                                    <th class="py-3 px-6 text-left">Variable Name</th>
                                    <th class="py-3 px-6 text-left">Description</th>
                                    <th class="py-3 px-6 text-left">Type</th>
                                    <th class="py-3 px-6 text-left">Example Values</th>
                                </tr>
                                </thead>
                                <tbody class="text-gray-700 text-sm">
                                <tr class="border-b border-gray-200 hover:bg-gray-50">
                                    <td class="py-3 px-6">Customer_ID</td>
                                    <td class="py-3 px-6">Unique identifier for each customer</td>
                                    <td class="py-3 px-6">Categorical (Nominal)</td>
                                    <td class="py-3 px-6">C001, C002, C003</td>
                                </tr>
                                <tr class="border-b border-gray-200 hover:bg-gray-50">
                                    <td class="py-3 px-6">Age</td>
                                    <td class="py-3 px-6">Age of the customer</td>
                                    <td class="py-3 px-6">Numerical (Continuous)</td>
                                    <td class="py-3 px-6">25, 38, 52</td>
                                </tr>
                                <tr class="border-b border-gray-200 hover:bg-gray-50">
                                    <td class="py-3 px-6">Gender</td>
                                    <td class="py-3 px-6">Gender identity of customer</td>
                                    <td class="py-3 px-6">Categorical (Nominal)</td>
                                    <td class="py-3 px-6">Male, Female, Other</td>
                                </tr>
                                <tr class="border-b border-gray-200 hover:bg-gray-50">
                                    <td class="py-3 px-6">Purchase_Amount</td>
                                    <td class="py-3 px-6">Total value of purchases in USD</td>
                                    <td class="py-3 px-6">Numerical (Continuous)</td>
                                    <td class="py-3 px-6">120.50, 540.00</td>
                                </tr>
                                <tr class="border-b border-gray-200 hover:bg-gray-50">
                                    <td class="py-3 px-6">Membership_Tier</td>
                                    <td class="py-3 px-6">Customer's membership category</td>
                                    <td class="py-3 px-6">Categorical (Ordinal)</td>
                                    <td class="py-3 px-6">Silver, Gold, Platinum</td>
                                </tr>
                                <tr class="border-b border-gray-200 hover:bg-gray-50">
                                    <td class="py-3 px-6">Signup_Date</td>
                                    <td class="py-3 px-6">Date the customer signed up</td>
                                    <td class="py-3 px-6">Date/Time</td>
                                    <td class="py-3 px-6">2021-05-10, 2022-01-01</td>
                                </tr>
                                <tr class="border-b border-gray-200 hover:bg-gray-50">
                                    <td class="py-3 px-6">Is_Active</td>
                                    <td class="py-3 px-6">Whether the customer is active</td>
                                    <td class="py-3 px-6">Boolean</td>
                                    <td class="py-3 px-6">TRUE, FALSE</td>
                                </tr>
                                <tr class="border-b border-gray-200 hover:bg-gray-50">
                                    <td class="py-3 px-6">Last_Login</td>
                                    <td class="py-3 px-6">Most recent login date and time</td>
                                    <td class="py-3 px-6">Date/Time</td>
                                    <td class="py-3 px-6">2025-09-10 14:45:00</td>
                                </tr>
                                <tr class="border-b border-gray-200 hover:bg-gray-50">
                                    <td class="py-3 px-6">Country</td>
                                    <td class="py-3 px-6">Country of residence</td>
                                    <td class="py-3 px-6">Categorical (Nominal)</td>
                                    <td class="py-3 px-6">USA, UK, Germany</td>
                                </tr>
                                <tr class="hover:bg-gray-50">
                                    <td class="py-3 px-6">Items_Purchased</td>
                                    <td class="py-3 px-6">Number of items bought</td>
                                    <td class="py-3 px-6">Numerical (Discrete)</td>
                                    <td class="py-3 px-6">1, 3, 5</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                </details>
                <div class="flex w-full gap-2">
                    <div class="flex relative justify-center items-center w-full p-4 gap-0.5 border-1 border-gray-100 shadow-sm rounded-lg">
                        <div class="flex flex-col h-fit w-24 p-1 gap-y-2">
                            <span class="text-2xl font-bold text-gray-800 self-center">
                                {{ students_count }}
                            </span> 
                            <span class="flex text-xs text-gray-500 font-mono font-semibold gap-0.5 items-center mt-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                <path d="M7 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM14.5 9a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5ZM1.615 16.428a1.224 1.224 0 0 1-.569-1.175 6.002 6.002 0 0 1 11.908 0c.058.467-.172.92-.57 1.174A9.953 9.953 0 0 1 7 18a9.953 9.953 0 0 1-5.385-1.572ZM14.5 16h-.106c.07-.297.088-.611.048-.933a7.47 7.47 0 0 0-1.588-3.755 4.502 4.502 0 0 1 5.874 2.636.818.818 0 0 1-.36.98A7.465 7.465 0 0 1 14.5 16Z" />
                                </svg>


                                Students
                            </span>
                        </div>
                        <div class="flex flex-col h-fit w-24 p-1 gap-y-2">
                            <span class="text-2xl font-bold text-gray-900 self-center">
                                {{ subjects_count }}
                            </span> 
                            <span class="flex text-xs text-gray-500 font-mono font-semibold gap-0.5 items-center mt-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                <path d="M10.75 16.82A7.462 7.462 0 0 1 15 15.5c.71 0 1.396.098 2.046.282A.75.75 0 0 0 18 15.06v-11a.75.75 0 0 0-.546-.721A9.006 9.006 0 0 0 15 3a8.963 8.963 0 0 0-4.25 1.065V16.82ZM9.25 4.065A8.963 8.963 0 0 0 5 3c-.85 0-1.673.118-2.454.339A.75.75 0 0 0 2 4.06v11a.75.75 0 0 0 .954.721A7.506 7.506 0 0 1 5 15.5c1.579 0 3.042.487 4.25 1.32V4.065Z" />
                                </svg>
                                Subjects
                            </span>
                        </div>                   
                        <div class="flex flex-col h-fit w-24 p-1 gap-y-2">
                            <span class="text-2xl font-bold text-gray-900 self-center">
                                {{ topics_count }}
                            </span> 
                            <span class="flex text-xs text-gray-500 font-mono font-semibold gap-0.5 items-center mt-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                <path d="M3.75 3A1.75 1.75 0 0 0 2 4.75v3.26a3.235 3.235 0 0 1 1.75-.51h12.5c.644 0 1.245.188 1.75.51V6.75A1.75 1.75 0 0 0 16.25 5h-4.836a.25.25 0 0 1-.177-.073L9.823 3.513A1.75 1.75 0 0 0 8.586 3H3.75ZM3.75 9A1.75 1.75 0 0 0 2 10.75v4.5c0 .966.784 1.75 1.75 1.75h12.5A1.75 1.75 0 0 0 18 15.25v-4.5A1.75 1.75 0 0 0 16.25 9H3.75Z" />
                                </svg>
                                Topics
                            </span>
                        </div>                   
                        <div class="flex flex-col h-fit w-24 p-1 gap-y-2">
                            <span class="text-2xl font-bold text-gray-900 self-center">
                                {{ questions_count }}
                            </span> 
                            <span class="flex text-xs text-gray-500 font-mono font-semibold gap-0.5 items-center mt-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0ZM8.94 6.94a.75.75 0 1 1-1.061-1.061 3 3 0 1 1 2.871 5.026v.345a.75.75 0 0 1-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 1 0 8.94 6.94ZM10 15a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
                                </svg>
                                Questions
                            </span>
                        </div>
                        <span class="absolute bottom-1 right-2 text-xs text-gray-800 font-semibold">
                            Key Variables
                        </span> 
                    </div>
                    <div class="flex relative justify-center  items-center w-full p-4 gap-0.5 shadow-sm bg-red-100 rounded-lg">
                        <div class="flex flex-col h-fit w-24 p-1">
                            <span class="text-2xl font-bold text-gray-900 self-center">
                                N/A
                            </span> 
                            <span class="flex text-xs gap-x-1 text-gray-500 font-mono font-semibold gap-0.5 justify-center items-center mt-auto">
                                N/A
                            </span>
                        </div> 
                        <div class="flex flex-col h-fit w-24 p-1">
                            <span class="text-2xl font-bold text-gray-900 self-center">
                                N/A
                            </span> 
                            <span class="flex text-xs gap-x-1 text-gray-500 font-mono font-semibold gap-0.5 justify-center items-center mt-auto">
                                N/A
                            </span>
                        </div>            
                        <span class="absolute bottom-1 right-2 text-xs text-gray-800 font-semibold">
                            ####
                        </span>                    
                    </div>
                </div>


            </div>
            <div  class="flex flex-col w-full gap-y-1">
                <p class="text-3xl font-bold text-gray-800">Descriptive Statistics</p>
                
                <div class="flex w-full gap-1">
                    <div class="flex p-4 gap-x-2">
                        <div class="flex flex-col justify-between">
                            <div class="flex items-center h-20 w-35 p-3 border-gray-100 border-1 rounded-lg shadow-md gap-2">
                                <div class="flex pb-2 font-mono items-center justify-center w-8 h-8 text-blue-900 text-2xl font-bold">
                                    🧠
                                </div>
                                
                                <div class="flex flex-col justify-center">
                                    <span class="text-xl font-extrabold font-mono text-blue-900">
                                    80%
                                    </span>
                                    <span class="text-xs text-blue-900/80 font-mono font-semibold tracking-wide">
                                    Remember <br> (10) items
                                    </span>
                                </div>
                            </div>
                            <div class="flex items-center h-20 w-35 p-3 border-gray-100 border-1 rounded-lg shadow-md gap-2">
                                <div class="flex pb-2 font-mono items-center justify-center w-8 h-8 text-blue-900 text-2xl font-bold">
                                    📖
                                </div>
                                
                                <div class="flex flex-col justify-center">
                                    <span class="text-xl font-extrabold font-mono text-blue-900">
                                    60%
                                    </span>
                                    <span class="text-xs text-blue-900/80 font-mono font-semibold tracking-wide">
                                    Understand <br> (10) items
                                    </span>
                                </div>
                            </div>
                            <div class="flex items-center h-20 w-35 p-3 border-gray-100 border-1 rounded-lg shadow-md gap-2">
                                <div class="flex pb-2 font-mono items-center justify-center w-8 h-8 text-blue-900 text-2xl font-bold">
                                    🛠️
                                </div>
                                
                                <div class="flex flex-col justify-center">
                                    <span class="text-xl font-extrabold font-mono text-blue-900">
                                    66%
                                    </span>
                                    <span class="text-xs text-blue-900/80 font-mono font-semibold tracking-wide">
                                    Apply <br> (10) items
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col justify-between">
                            <div class="flex items-center h-20 w-35 p-3 border-gray-100 border-1 rounded-lg shadow-md gap-2">
                                <div class="flex pb-2 font-mono items-center justify-center w-8 h-8 text-blue-900 text-2xl font-bold">
                                    🧩
                                </div>
                                
                                <div class="flex flex-col justify-center">
                                    <span class="text-xl font-extrabold font-mono text-blue-900">
                                    55%
                                    </span>
                                    <span class="text-xs text-blue-900/80 font-mono font-semibold tracking-wide">
                                    Analyze <br> (10) items
                                    </span>
                                </div>
                            </div>
                            <div class="flex items-center h-20 w-35 p-3 border-gray-100 border-1 rounded-lg shadow-md gap-2">
                                <div class="flex pb-2 font-mono items-center justify-center w-8 h-8 text-blue-900 text-2xl font-bold">
                                    📝
                                </div>
                                
                                <div class="flex flex-col justify-center">
                                    <span class="text-xl font-extrabold font-mono text-blue-900">
                                    76%
                                    </span>
                                    <span class="text-xs text-blue-900/80 font-mono font-semibold tracking-wide">
                                    Evaluate <br> (10) items
                                    </span>
                                </div>
                            </div>
                            <div class="flex items-center h-20 w-35 p-3 border-gray-100 border-1 rounded-lg shadow-md gap-2">
                                <div class="flex pb-2 font-mono items-center justify-center w-8 h-8 text-blue-900 text-2xl font-bold">
                                    🎨
                                </div>
                                
                                <div class="flex flex-col justify-center">
                                    <span class="text-xl font-extrabold font-mono text-blue-900">
                                    50%
                                    </span>
                                    <span class="text-xs text-blue-900/80 font-mono font-semibold tracking-wide">
                                    Create <br> (10) items
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center items-center w-full p-4 gap-0.5">
                            <div class="w-72 py-2 px-4 bg-blue-50 rounded-lg shadow-lg">
                                <h3 class="text-lg font-bold mb-3 text-gray-800">Exam Summary</h3>
                                <dl class="grid grid-cols-2 gap-x-4 gap-y-2 text-gray-700">
                                    <dt class="font-semibold">Mean</dt><dd>{{ mean }}</dd>
                                    <dt class="font-semibold">Median</dt><dd>{{ median }}</dd>
                                    <dt class="font-semibold">Mode</dt><dd>                                        
                                        {% for m in mode %}
                                            {{ m ?: 0 }}
                                            {% if loop.last == false  %}|{% endif%}
                                        {% endfor %}
                                    </dd>
                                    <dt class="font-semibold">Standard Dev.</dt><dd>{{ std_dev }}</dd>
                                    <dt class="font-semibold border-blue-900 border-t-2">Range</dt><dd>{{ range }}</dd>
                                    <dt class="font-semibold">Min</dt><dd>{{ min }}</dd>
                                    <dt class="font-semibold">Max</dt><dd>{{ max }}</dd>
                                </dl>
                            </div>
                    </div>
                    <div class="flex flex-col justify-between items-center w-full p-4 gap-y-2">
                        <div class="flex items-center h-fit w-72 p-3 border border-gray-100 rounded-lg shadow-md gap-2">
                            <div class="flex items-center justify-center w-8 h-8 text-green-900 text-2xl font-bold">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-9">
                                <path fill-rule="evenodd" d="M2 3.75A.75.75 0 0 1 2.75 3h11.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 3.75ZM2 7.5a.75.75 0 0 1 .75-.75h6.365a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 7.5ZM14 7a.75.75 0 0 1 .55.24l3.25 3.5a.75.75 0 1 1-1.1 1.02l-1.95-2.1v6.59a.75.75 0 0 1-1.5 0V9.66l-1.95 2.1a.75.75 0 1 1-1.1-1.02l3.25-3.5A.75.75 0 0 1 14 7ZM2 11.25a.75.75 0 0 1 .75-.75H7A.75.75 0 0 1 7 12H2.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
                                </svg>

                            </div>

                            <div class="flex flex-col justify-center">
                                {% for key, value in subjects_three_max %}
                                <div class="grid grid-cols-[minmax(0,auto)_minmax(0,1fr)] text-xs gap-x-2 px-2 py-1 text-gray-800">
                                    <span class="font-bold break-words">{{ key }}:</span>
                                    <span class="font-semibold text-right">{{ value }}</span>
                                </div>
                                {% endfor %}

                                <span class="text-sm text-green-600 font-semibold self-start mt-2">
                                Highest Performing Subject
                                </span>
                            </div>
                        </div>
                        <div class="flex items-center h-fit w-72 p-3 border border-gray-100 rounded-lg shadow-md gap-2">
                            <div class="flex items-center justify-center w-8 h-8 text-red-900 text-2xl font-bold">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-9">
                                <path fill-rule="evenodd" d="M2.25 4.5A.75.75 0 0 1 3 3.75h14.25a.75.75 0 0 1 0 1.5H3a.75.75 0 0 1-.75-.75Zm0 4.5A.75.75 0 0 1 3 8.25h9.75a.75.75 0 0 1 0 1.5H3A.75.75 0 0 1 2.25 9Zm15-.75A.75.75 0 0 1 18 9v10.19l2.47-2.47a.75.75 0 1 1 1.06 1.06l-3.75 3.75a.75.75 0 0 1-1.06 0l-3.75-3.75a.75.75 0 1 1 1.06-1.06l2.47 2.47V9a.75.75 0 0 1 .75-.75Zm-15 5.25a.75.75 0 0 1 .75-.75h9.75a.75.75 0 0 1 0 1.5H3a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
                                </svg>

                            </div>

                            <div class="flex flex-col justify-center">
                                {% for key, value in subjects_three_min %}
                                <div class="grid grid-cols-[minmax(0,auto)_minmax(0,1fr)] text-xs gap-x-2 px-2 py-1 text-gray-800">
                                    <span class="font-bold break-words">{{ key }}:</span>
                                    <span class="font-semibold text-right">{{ value }}</span>
                                </div>
                                {% endfor %}

                                <span class="text-sm text-red-600 font-semibold self-start mt-2">
                                Lowest Performing Subject
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div  class="flex flex-col w-full">
                <p class="text-3xl font-bold text-gray-800">Exploratory Data Analysis</p>
                <div class="flex flex-col gap-2 p-1">
                    <div class="flex gap-4">
                        <div id="exam-histogram" class="w-full"></div>
                        <div id="exam-boxplot" class="w-full"></div>
                    </div>
                    <div class="flex gap-4 w-full">
                        <div id="exam-subjects" class="w-full"></div>
                        <div id="exam-topics" class="w-full"></div>
                    </div>
                    <div class="w-full">
                        <div id="exam-compare-group" class="w-full"></div>
                    </div>
                    <div class="w-full">
                        <div id="exam-type-group-normalize" class="w-full"></div>
                    </div>
                    <div class="flex justify-center w-full">
                        <div id="exam-heatmap"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="reports_courses_data" data-courses="{{ courses|json_encode() }}" class="hidden"></div>
        <div id="reports_questions_data" data-questions="{{ questions_count }}" class="hidden"></div>
        <div id="reports_students_data" data-students="{{ students_count }}" class="hidden"></div>

        <div id="reports_exam_scores_data" data-exam-scores="{{ exam_scores|json_encode() }}" class="hidden"></div>
        <div id="reports_exam_groups_data" data-exam-groups="{{ exam_groups|json_encode() }}" class="hidden"></div>
        <div id="reports_level_scores_data" data-level-scores="{{ level_scores|json_encode() }}" class="hidden"></div>
        <div id="reports_type_with_level_scores_data" data-type-scores="{{ exam_compare_types_and_blooms_data|json_encode() }}" class="hidden"></div>

</div>
</div>

    {{ vite('resources/js/exam-reports-plots')|raw }}

{% endblock %}

