{% from 'components/core/breadcrumbs' import breadcrumb %}
{% from 'components/core/index-table' import table %}
{% import 'components/core/forms' as forms %}
{% extends 'components/core/faculty-layout' %}


{% block content %}

{{ breadcrumb() }}
<div class="flex justify-between items-center mx-4 pr-4">
    <div class="flex items-center justify-start gap-x-2 mx-4 text-gray-800">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-9">
            <path d="M11.25 4.533A9.707 9.707 0 0 0 6 3a9.735 9.735 0 0 0-3.25.555.75.75 0 0 0-.5.707v14.25a.75.75 0 0 0 1 .707A8.237 8.237 0 0 1 6 18.75c1.995 0 3.823.707 5.25 1.886V4.533ZM12.75 20.636A8.214 8.214 0 0 1 18 18.75c.966 0 1.89.166 2.75.47a.75.75 0 0 0 1-.708V4.262a.75.75 0 0 0-.5-.707A9.735 9.735 0 0 0 18 3a9.707 9.707 0 0 0-5.25 1.533v16.103Z" />
        </svg>
        <h1 class="font-bold text-4xl">Subject Management</h1>
    </div>
    {% if can('create subjects') %}
        <button type="button"
            hx-get="{{ route('subjects.create') }}"
            hx-trigger="click"
            hx-target="#subject-create-form"
            hx-swap="outerHTML"
            popovertarget="create-subject-popover" class="flex items-center gap-1 bg-blue-900 text-gray-200 hover:bg-blue-600 hover:text-white duration-300 rounded-lg p-2 font-semibold">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
            </svg>   
            Subject
        </button>
    {% endif %}
</div>
<div class="mx-4 p-4">
    <div class="flex items-center w-full p-4 bg-white border-x border-t border-gray-300 rounded-t-2xl">
        <form method="GET" class="w-full flex flex-1 flex-col justify-between gap-2">
                <div class="flex flex-col w-full gap-2 bg-purple-100 p-4 rounded-xl">
                    <span class="flex align-middle text-gray-900 gap-1 whitespace-nowrap text-sm/6 font-medium text-gray-900">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                        <path d="M11.7 2.805a.75.75 0 0 1 .6 0A60.65 60.65 0 0 1 22.83 8.72a.75.75 0 0 1-.231 1.337 49.948 49.948 0 0 0-9.902 3.912l-.003.002c-.114.06-.227.119-.34.18a.75.75 0 0 1-.707 0A50.88 50.88 0 0 0 7.5 12.173v-.224c0-.131.067-.248.172-.311a54.615 54.615 0 0 1 4.653-2.52.75.75 0 0 0-.65-1.352 56.123 56.123 0 0 0-4.78 2.589 1.858 1.858 0 0 0-.859 1.228 49.803 49.803 0 0 0-4.634-1.527.75.75 0 0 1-.231-1.337A60.653 60.653 0 0 1 11.7 2.805Z" />
                        <path d="M13.06 15.473a48.45 48.45 0 0 1 7.666-3.282c.134 1.414.22 2.843.255 4.284a.75.75 0 0 1-.46.711 47.87 47.87 0 0 0-8.105 4.342.75.75 0 0 1-.832 0 47.87 47.87 0 0 0-8.104-4.342.75.75 0 0 1-.461-.71c.035-1.442.121-2.87.255-4.286.921.304 1.83.634 2.726.99v1.27a1.5 1.5 0 0 0-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.66a6.727 6.727 0 0 0 .551-1.607 1.5 1.5 0 0 0 .14-2.67v-.645a48.549 48.549 0 0 1 3.44 1.667 2.25 2.25 0 0 0 2.12 0Z" />
                        <path d="M4.462 19.462c.42-.419.753-.89 1-1.395.453.214.902.435 1.347.662a6.742 6.742 0 0 1-1.286 1.794.75.75 0 0 1-1.06-1.06Z" />
                        </svg>
                     Courses :
                    </span>
                    <div class="flex flex-wrap gap-2">
                        {% for course in courses %}
                            <label class="cursor-pointer">
                                <input 
                                    type="checkbox" 
                                    name="filter[course][]" 
                                    value="{{ course.id }}" 
                                    {% if course.id in app.request.get('filter')['course']|default([]) %}checked{% endif %}
                                    class="hidden peer">
                                <span class="inline-block px-3 py-1 rounded-full rounded-full border border-gray-300 text-sm font-medium text-gray-800  
                                            peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-900
                                            hover:bg-gray-50 transition-colors duration-200">
                                    {{ course.abbreviation }}
                                </span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="flex gap-2">
                    {{ forms.form_field(
                        label:forms.label(
                            id:'filter[code]', 
                            content:'Code', 
                            attributes:{
                                'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900  after:text-red-500 after:content-[\'\*\']'}
                        ),
                        input:forms.text(
                            name:'filter[code]', 
                            attributes:{
                                'class':'block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                                'placeholder':'Search Subject code...'
                            }
                        ),
                        isColumn:true 
                    )}}
                    {{ forms.form_field(
                        label:forms.label(
                            id:'filter[name]', 
                            content:'Subject', 
                            attributes:{
                                'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900  after:text-red-500 after:content-[\'\*\']'}
                        ),
                        input:forms.text(
                            name:'filter[name]', 
                            attributes:{
                                'class':'block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                                'placeholder':'Search Subject name...'
                            }
                        ),
                        isColumn:true 
                    )}}
                </div>

                <div class="flex gap-1">
                    <div class="flex flex-1/2">
                        <button type="submit" class="flex w-full cursor-pointer justify-center gap-1 bg-blue-900 text-gray-200 hover:bg-blue-600 hover:text-white active:bg-blue-900 duration-300 rounded-lg p-2 font-semibold">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd" d="M3.792 2.938A49.069 49.069 0 0 1 12 2.25c2.797 0 5.54.236 8.209.688a1.857 1.857 0 0 1 1.541 1.836v1.044a3 3 0 0 1-.879 2.121l-6.182 6.182a1.5 1.5 0 0 0-.439 1.061v2.927a3 3 0 0 1-1.658 2.684l-1.757.878A.75.75 0 0 1 9.75 21v-5.818a1.5 1.5 0 0 0-.44-1.06L3.13 7.938a3 3 0 0 1-.879-2.121V4.774c0-.897.64-1.683 1.542-1.836Z" clip-rule="evenodd" />
                            </svg>

                            Filter
                        </button>
                    </div>
                    <div class="flex flex-1 justify-between align-middle text-gray-900">
                        <a href="{{ route('subjects.index') }}" 
                        class="flex w-full justify-center gap-1 p-2 rounded-lg bg-gray-100 hover:bg-gray-200 duration-300 text-sm font-medium">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z" clip-rule="evenodd" />
                        </svg>

                        Clear Filters
                        </a>             
                    </div>
                </div>
        </form>
    </div>
    <div id="pagination-div" class="overflow-auto max-w-full scroll-smooth border-x border-t border-gray-300">
        {{ table(headers:headers, rows:rows, url:url) }}
        <div class="flex justify-end items-center w-full h-16 p-8 bg-white border-x border-b border-gray-300 rounded-b-2xl">
            {{ models.onEachSide(3).links() }}
        </div>
    </div>

</div>
{% if can('create subjects') %}
    <div popover="manual"
        class="backdrop:bg-gray-900/25 m-auto rounded-xl w-96" 
        id="create-subject-popover"
        >
        <form id="subject-create-form"></form>
    </div>
{% endif %}
{% endblock %}