<div id="name-form-error" class="flex gap-x-4 justify-between">
    <span class="text-red-500 text-sm font-semibold whitespace-nowrap italic">{{ errors.get('name')[0] }}</span>  
</div>

<div id="syntax-points-form-error" class="flex gap-x-4 justify-between">
    <span class="text-red-500 text-sm font-semibold whitespace-nowrap italic">{{ errors.get('syntax_points')[0] }}</span>  
</div>

<div id="runtime-points-form-error" class="flex gap-x-4 justify-between">
    <span class="text-red-500 text-sm font-semibold whitespace-nowrap italic">{{ errors.get('runtime_points')[0] }}</span>  
</div>

<div id="test-case-points-form-error" class="flex gap-x-4 justify-between">
    <span class="text-red-500 text-sm font-semibold whitespace-nowrap italic">{{ errors.get('test_case_points')[0] }}</span>  
</div>

<div id="instruction-form-error">
     <span class="text-red-500 text-sm font-semibold whitespace-nowrap italic">{{ errors.get('instruction')[0] }}</span>  
</div>


<div id="language-form-error">
     <span class="flex justify-center items-center text-red-500 text-sm font-semibold whitespace-nowrapitalic">{{ errors.get('supported_languages')[0] }}</span>  
</div>

