{% macro table(headers, rows, header_attributes, row_attributes, url, actions = true, openAction = true, authorized = false, forAdmin = false) %}
    <table class="table-auto min-w-max w-full text-left bg-white border-t border-gray-300 rounded-t-2xl">
        <thead>
            <tr>
                {% for header in headers %}
                    <th class="px-4 py-2 font-bold border-b border-gray-300 text-sm bg-gray-100 text-blue-900">{{ header }}</th>
                {% endfor %}
                {% if actions %}
                    <th class="px-4 py-2 font-bold border-b border-gray-300 text-sm bg-gray-100 text-blue-900 ml-auto">Actions</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
            
            {% for row in rows %}
                <tr class="hover:bg-gray-100 transition duration-150">                    
                    {% for cell, value in row %}
                        {% if forAdmin == true %}
                        <td class="p-4 border-b border-gray-300 max-w-xs text-sm {{ value == 'Incomplete' ? 'text-red-600' : (value == 'Complete' ? 'text-green-600' : 'text-gray-900') }} ">
                            <span class="block break-words">{{ value }}</span> 
                        </td>
                        {% elseif value is iterable %}
                            <td class="p-4 border-b border-gray-300 max-w-xs text-sm {{ value == 'Incomplete' ? 'text-red-600' : (value == 'Complete' ? 'text-green-600' : 'text-gray-900') }} ">
                                {% for item in value %}
                                    <span class="block break-words">{{ item }}</span> 
                                {% endfor %}
                            </td>
                        {% elseif cell != 'id' %}
                        <td class="p-4 border-b border-gray-300 max-w-xs text-sm {{ value == 'Incomplete' ? 'text-red-600' : (value == 'Complete' ? 'text-green-600' : 'text-gray-900') }} ">
                            <span class="block break-words">{{ value }}</span> 
                        </td>
                        {% endif %}
                    {% endfor %}
                    {% if actions %}
                        <td class="p-4 max-w-48  border-b border-gray-300">
                            {% if openAction %}
                                 <a href="/{{ url }}/{{ row.id }}" class="inline-flex w-fit text-blue-900 text-sm font-medium hover:underline">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                    <path d="M10 12.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                                    <path fill-rule="evenodd" d="M.664 10.59a1.651 1.651 0 0 1 0-1.186A10.004 10.004 0 0 1 10 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0 1 10 17c-4.257 0-7.893-2.66-9.336-6.41ZM14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z" clip-rule="evenodd" />
                                    </svg>

                                </a>
                            {% endif %}
                            {% if forAdmin %}
                                <a 
                                    class="text-blue-900 text-sm font-medium hover:underline"
                                    href="/admins/{{ url }}/{{ row.id }}"
                                    hx-get="/admins/{{ url }}/{{ row.id }}"
                                    hx-push-url="true"
                                    hx-swap="innerHTML transition:true" 
                                    hx-target="#access-control-content" >
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                        <path d="M10 12.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                                        <path fill-rule="evenodd" d="M.664 10.59a1.651 1.651 0 0 1 0-1.186A10.004 10.004 0 0 1 10 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0 1 10 17c-4.257 0-7.893-2.66-9.336-6.41ZM14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z" clip-rule="evenodd" />
                                        </svg>
                                </a>
                            {% endif %}
                            {% if authorized %}
                            <a href="/{{ url }}/edit" class="pl-4 text-orange-400 text-sm font-medium hover:underline">Edit</a>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endmacro %}

{% macro exam_questions_table(headers, rows, header_attributes, row_attributes, url, actions = true, openAction = true, forAvailableQuestions = false, forAdding = false, forRemoving = false, exam_id) %}
<form     
    hx-post="{{ route('exam.toggleQuestion', {exam:exam_id} )}}"
    {% if not forRemoving %}
        hx-disabled-elt="this, #remove-questions-button"
    {% else %}
        hx-disabled-elt="this, #add-questions-button"
    {% endif %}
    hx-swap="delete"
    hx-headers='{"X-CSRF-TOKEN": "{{ csrf_token() }}"}'
    hx-select-oob="#question-count-field, #subject-field, #topic-field, #type-field, #blooms-level-field, #exam-question-field, #available-question-field, #score-count-field"
    class="flex flex-col bg-white disabled:opacity-50 disabled:cursor-not-allowed ">
    <span id="check-for-adding-questions" data-enabled="{{ forAdding ? 'true' : 'false' }}" class="hidden"></span>
    {% for subject_name, subject in rows %}  
    <details class="details-animated w-full bg-white shadow-sm ring-1 ring-gray-950/5" 
            id="{{ forAvailableQuestions ? 'available-' : 'contain-'}}subject-{{ subject_name }}">
                <summary class="flex flex-1 p-4 justify-between bg-blue-900 group duration-300  cursor-pointer">
                    <span class="text-xl font-bold text-white">{{ subject_name }}</span>
                    <span class="text-xs font-semibold text-gray-100"> 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path d="M21 6.375c0 2.692-4.03 4.875-9 4.875S3 9.067 3 6.375 7.03 1.5 12 1.5s9 2.183 9 4.875Z" />
                        <path d="M12 12.75c2.685 0 5.19-.586 7.078-1.609a8.283 8.283 0 0 0 1.897-1.384c.016.121.025.244.025.368C21 12.817 16.97 15 12 15s-9-2.183-9-4.875c0-.124.009-.247.025-.368a8.285 8.285 0 0 0 1.897 1.384C6.809 12.164 9.315 12.75 12 12.75Z" />
                        <path d="M12 16.5c2.685 0 5.19-.586 7.078-1.609a8.282 8.282 0 0 0 1.897-1.384c.016.121.025.244.025.368 0 2.692-4.03 4.875-9 4.875s-9-2.183-9-4.875c0-.124.009-.247.025-.368a8.284 8.284 0 0 0 1.897 1.384C6.809 15.914 9.315 16.5 12 16.5Z" />
                        <path d="M12 20.25c2.685 0 5.19-.586 7.078-1.609a8.282 8.282 0 0 0 1.897-1.384c.016.121.025.244.025.368 0 2.692-4.03 4.875-9 4.875s-9-2.183-9-4.875c0-.124.009-.247.025-.368a8.284 8.284 0 0 0 1.897 1.384C6.809 19.664 9.315 20.25 12 20.25Z" />
                        </svg>

                            {{ subject.total_score }}pts
                    </span>
                </summary>
                {% for topic_name, topic in subject.topics %}
                <details class="overflow-x-auto w-full bg-white border-b-1 border-gray-500" 
                        id="{{ forAvailableQuestions ? 'available-' : 'contain-'}}topic-{{ topic_name }}">
                        <summary class="flex flex-1 px-4 py-2 justify-between bg-orange-900 cursor-pointer ">
                            <span class="text-lg font-bold text-white">{{ topic_name }}</span>
                            <p class="flex flex-col text-xs justify-center items-center font-semibold text-gray-100"> 
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                <path fill-rule="evenodd" d="M10 1c3.866 0 7 1.79 7 4s-3.134 4-7 4-7-1.79-7-4 3.134-4 7-4Zm5.694 8.13c.464-.264.91-.583 1.306-.952V10c0 2.21-3.134 4-7 4s-7-1.79-7-4V8.178c.396.37.842.688 1.306.953C5.838 10.006 7.854 10.5 10 10.5s4.162-.494 5.694-1.37ZM3 13.179V15c0 2.21 3.134 4 7 4s7-1.79 7-4v-1.822c-.396.37-.842.688-1.306.953-1.532.875-3.548 1.369-5.694 1.369s-4.162-.494-5.694-1.37A7.009 7.009 0 0 1 3 13.179Z" clip-rule="evenodd" />
                                </svg>
                                <span>
                                    {{ topic.total_score }}pts
                                </span>
                            </p>
                        </summary>
                        <table class="table-auto min-w-max w-full text-left bg-white border-t border-gray-300 rounded-t-2xl">
                            <thead>
                                <tr>
                                    {% for header in headers %}
                                        <th class="px-4 py-2 font-bold border-b border-gray-300 text-base bg-gray-100 text-blue-900">{{ header }}</th>
                                    {% endfor %}
                                    {% if actions %}
                                        <th class="px-4 py-2 font-bold border-b border-gray-300 text-base bg-gray-100 text-blue-900 ml-auto">Actions</th>
                                    {% endif %}

                                </tr>
                            </thead>
                                <tbody>
                                    {% for question in topic.questions %}         
                                        <tr class="hover:bg-gray-100 transition duration-150"> 
                                                {% for cell, value in question %}
                                                    {% if cell != 'id' %}
                                                    <td class="p-4 border-b border-gray-300 max-w-xs text-sm text-gray-900">
                                                        <span class="block  break-words">{{ value }}</span>
                                                    </td>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if actions %}
                                                    <td class="p-4 max-w-48  border-b border-gray-300">
                                                        {% if openAction %}
                                                            <a href="/{{ url }}/{{ question.id }}" class="inline-flex text-blue-900 text-sm font-medium hover:underline">
                                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-7">
                                                                <path d="M10 12.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                                                                <path fill-rule="evenodd" d="M.664 10.59a1.651 1.651 0 0 1 0-1.186A10.004 10.004 0 0 1 10 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0 1 10 17c-4.257 0-7.893-2.66-9.336-6.41ZM14 10a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z" clip-rule="evenodd" />
                                                                </svg>

                                                            </a>
                                                        {% endif %}
                                                        {% if forAdding %}
                                                        <label class="inline-flex font-serif text-blue-900 text-[1.75rem]" for="question-{{ question.id }}">
                                                        <input type="checkbox" id="question-{{ question.id }}" name="toggle-questions[]" value="{{ question.id }}" class="">
                                                        </label>
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                </tbody>
                        </table>
                </details>
                {% endfor %}
        </details>
{% endfor %}

<button 
    {% if not forRemoving %}
        id="remove-questions-button"
    {% else %}
        id="add-questions-button"
    {% endif %}
    type="submit" disabled
    class="p-2 ml-auto mr-2 my-2 inline-flex 
        disabled:opacity-50 disabled:cursor-not-allowed 
        {% if not forRemoving %}
        disabled:bg-blue-900/75 bg-blue-900 hover:bg-blue-700 
        {% else %}
        disabled:bg-orange-900/75 bg-orange-900 hover:bg-orange-700 
        {% endif %}
        text-sm text-gray-50 rounded-md cursor-pointer transition">
    <div id="svg-loader" class="hidden flex flex-row gap-1 p-2">
        <div class="w-2 h-2 rounded-full bg-white animate-bounce [animation-delay:.1s]"></div>
        <div class="w-2 h-2 rounded-full bg-white animate-bounce [animation-delay:.2s]"></div>
        <div class="w-2 h-2 rounded-full bg-white animate-bounce [animation-delay:.3s]"></div>
    </div>
    {% if not forRemoving %}
    <svg xmlns="http://www.w3.org/2000/svg" id="add-remove-icon" viewBox="0 0 24 24" fill="currentColor" class="size-6">
        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
    </svg> 
    {% else %}
    <svg xmlns="http://www.w3.org/2000/svg" id="add-remove-icon" viewBox="0 0 20 20" fill="currentColor" class="size-6">
        <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM6.75 9.25a.75.75 0 0 0 0 1.5h6.5a.75.75 0 0 0 0-1.5h-6.5Z" clip-rule="evenodd" />
    </svg>
    {% endif %}
</button>
</form>
<style>
    input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    margin: 0;

    font: gray;
    color: orange;
    width: 1.0em;
    height: 1.0em;
    border: 0.15em solid currentColor;
    border-radius: 1em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    }

    input[type="checkbox"]::before {
    content: "";
    margin-left: 10px;
    margin-bottom: 5px;
    width: 1em;
    height: 1em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: oklch(28.2% 0.091 267.935);
    }

    input[type="checkbox"]:checked::before {
    border: 0.12em solid oklch(28.2% 0.091 267.935);
    border-radius: 1em;
    transform: scale(1.05);
    }
</style>
<script>
document.body.addEventListener('htmx:configRequest', (evt) => {
    const btn = evt.target;
    btn.querySelector('#add-remove-icon')?.classList.add('hidden');
    btn.querySelector('#svg-loader')?.classList.remove('hidden');
});
</script>
{% endmacro %}

{% macro academic_table(headers, rows) %}
    <table class="table-auto min-w-max w-full text-left bg-white border-t border-gray-300 rounded-t-2xl">
        <thead>
            <tr>
                {% for header in headers %}
                    <th class="px-4 py-2 font-bold border-b border-gray-300 text-sm bg-gray-100 text-blue-900">{{ header }}</th>
                {% endfor %}
                    <th class="px-4 py-2 font-bold border-b border-gray-300 text-sm bg-gray-100 text-blue-900 ml-auto">Actions</th>
            </tr>
        </thead>
        <tbody>
            
            {% for row in rows %}
                <tr class="{{ row.is_locked == false ? 'hover:bg-gray-100' : 'bg-gray-100 opacity-60' }} transition duration-150">                    
                    {% for cell, value in row %}
                        {% if cell != 'id' and cell != 'is_locked' and cell !='is_current' %}
                            <td class="p-4 border-b border-gray-300 max-w-xs text-sm {{ row.is_locked != false ? 'text-gray-800' : 'text-gray-900' }}">
                                <span class="block truncate {{ row.is_current ? 'text-blue-900 font-bold underline' }}">{{ value }}</span> 
                            </td>
                        {% endif %}
                    {% endfor %}
                        <td class="pl-4 border-b border-gray-300">
                        {% if not row.is_locked %}
                            <button type="button" 
                                    hx-get="{{ route('admin.academic-year.edit', {'academic_year': row.id}) }}"
                                    hx-trigger="click"
                                    hx-target="#academic-year-form"
                                    hx-swap="outerHTML"
                                    popovertarget="create-academic-year-popover"
                                    class="inline-flex w-fit text-orange-400 cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                                        <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z" />
                                    </svg>
                            </button>
                                {% if not row.is_current %}
                                    <button type="button" 
                                            hx-get="{{ route('admin.academic-year.destroy-form', {'academic_year': row.id}) }}"
                                            hx-trigger="click"
                                            hx-target="#academic-year-form"
                                            hx-swap="outerHTML"
                                            popovertarget="create-academic-year-popover"
                                            class="inline-flex w-fit text-red-900 cursor-pointer">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6">
                                                <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM6.75 9.25a.75.75 0 0 0 0 1.5h6.5a.75.75 0 0 0 0-1.5h-6.5Z" clip-rule="evenodd" />
                                                </svg>

                                    </button>
                                {% endif %}
                        {% else %}
                            <span class="inline-flex w-fit text-gray-900">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 0 0-4.5 4.5V9H5a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2h-.5V5.5A4.5 4.5 0 0 0 10 1Zm3 8V5.5a3 3 0 1 0-6 0V9h6Z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        {% endif %}
                        </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

<div id="pagination-div" class="mx-4 p-4">
    <div class="flex justify-end items-center w-full h-16 p-8 bg-white border-x border-t border-gray-300 rounded-t-2xl">
        <h1>Filter here</h1>
    </div>
    <div class="overflow-auto max-w-full scroll-smooth border-x border-t border-gray-300">
        {{ _self.table(headers:headers, rows:rows, url:url) }}

    </div>
    <div class="flex justify-end items-center w-full h-16 p-8 bg-white border-x border-b border-gray-300 rounded-b-2xl">
        {{ models.onEachSide(3).links() }}
    </div>
</div>
