{% from 'components/core/show-header' import show_header %}
{% from 'components/core/show-item' import show_item %}
{% from 'components/core/index-table' import table %}
{% set exam_topic_ids = exam_topics|map(t => t.id) %}

<span id="question-count-field" class="text-xs font-semibold text-gray-500">Total Questions : {{exam_questions.count()}}</span>
<span id="score-count-field" class="text-xs font-semibold text-gray-500">Current Score : {{exam_questions.sum('points')}}</span>    
<span id="algortihm-field" class="text-xs font-semibold text-gray-500">Current Algorithm : Greedy Algorithm {{exam_questions.algorithm}}</span>    

<div id="subject-field" class="flex flex-col p-4 flex-1">
    {{ show_header('Subjects') }}
    <div class="flex flex-col gap-y-2 max-h-54 overflow-y-scroll no-scrollbar">
    {% for subject in exam_subjects %}
        <div class="flex justify-between m-1">
            <p class="text-xs text-gray-600 font-semibold">{{ subject.name }}</p>
            <p class="text-xs text-gray-500 font-semibold"> {{ subject.question_count }}</p>
        </div>
    {% endfor %}
    </div>
</div>  

<div id="topic-field" class="flex flex-col p-4 flex-1">
    {{ show_header('Topics', 'font-medium text-2xl ') }}
    <div class="flex flex-col gap-y-2 max-h-54 overflow-y-scroll no-scrollbar">
        {% for topic in exam_topics %}
            <div class="flex justify-between">
                <p class="text-xs text-gray-600 font-semibold mr-2">{{ topic.name }}</p> 
                <p class="text-xs text-gray-500 font-semibold">{{ topic.question_count }}</p>
            </div>
        {% endfor %}
    </div>
</div>   

<div id="type-field" class="flex flex-col p-4 flex-1">
    {{ show_header('Types') }}
    <div class="flex flex-col gap-y-2 max-h-54 overflow-y-scroll no-scrollbar">
        {% for name, count in exam_question_types %}
            <div class="flex justify-between m-1">
                <p class="text-xs text-gray-600 font-semibold">{{ name|replace({'_': ' '})|title }}</p> 
                <p class="text-xs text-gray-500">{{ count }}</p>
            </div>  
        {% endfor %}
    </div>
</div>   


<div id="exam-question-field" class="flex flex-col mx-4 p-4">
    <div class="flex ml-auto my-2">
        <button type="button" 
                class="cursor-pointer bg-blue-600 text-gray-200 hover:bg-blue-500 hover:text-white duration-300 rounded-lg p-2 font-semibold text-sm"
                popovertarget="add-question-popover">
                Add Question
        </button>
    </div>
    <div class="flex justify-between items-center w-full h-16 p-8 bg-white border-x border-t border-gray-300 rounded-t-2xl">
        <h1 class="text-2xl font-medium text-gray-800">Exam Questions </h1>
        <h1>Filter here</h1>
    </div>
    <div class="overflow-auto max-w-full scroll-smooth border-x border-t border-gray-300">
        {{ table(questions_header, exam_questions_rows, url:'exams', forAdding:true, openAction:false, exam_id:exam.id, forRemoving:true) }}

    </div>
    <div class="flex justify-end items-center w-full h-16 p-8 bg-white border-x border-b border-gray-300 rounded-b-2xl">
        <h1>Pagination</h1>
    </div>
</div>

<div id="available-question-field" class="flex flex-col flex-1  w-full p-4">
    {% if available_questions_rows.count != 0 %}
    <div class="flex justify-between items-center w-full h-16 p-8 bg-white border-x border-t border-gray-300 rounded-t-2xl">
        <h1 class="text-2xl font-medium text-gray-800">Available Questions </h1>
        <h1>Filter here</h1>
    </div>
    <div class="overflow-auto max-w-full scroll-smooth border-x border-t border-gray-300">
        {{ table(questions_header, available_questions_rows, url:'exams', forAdding:true, openAction:false, exam_id:exam.id) }}

    </div>
    <div class="flex justify-end items-center w-full h-16 p-8 bg-white border-x border-b border-gray-300 rounded-b-2xl">
        <h1>Pagination</h1>
    </div>
    {% else %}
    <div class="flex justify-between items-center w-full h-16 p-8 bg-white rounded-2xl">
        <h1 class="text-2xl font-medium text-gray-800">No Available Questions </h1>
    </div>
    {% endif %}
</div>

