{% from 'components/core/show-nav-item' import show_nav_item %}
{% from 'components/core/breadcrumbs' import breadcrumb %}
{% from 'components/core/show-header' import show_header %}
{% from 'components/core/show-item' import show_item %}
{% import 'components/core/forms' as forms %}

{% extends 'components/core/student-layout' %}

{% block content %}
<div class="flex flex-1 gap-x-4 m-4">
    <div class="flex flex-1 flex-col">
        <div    id="exam-content" 
                class="flex flex-1 flex-col max-w-full gap-y-8 bg-white rounded-xl p-4 shadow-sm ring-1 ring-gray-950/5"
                hx-get="{{ route('exam_papers.show', {student_paper:student_paper.student_paper}) }}"
                hx-swap="innerHTML"
                hx-trigger="load"
                hx-target="this">
        </div>
    </div>
    <div class="flex flex-col md:w-1/5 ml-auto max-h-fit max-w-full gap-y-2 text-wrap rounded-xl bg-white p-4 shadow-sm ring-1 ring-gray-950/5">
        {{ show_item('Exam', exam.name|title)}}
        {{ show_header('') }}
        {{ show_item('Duration', exam.duration ?: 'No Timer')}}
        {{ show_item('Total Questions', student_paper.question_count )}}
        {{ show_header('') }}
        <div id="exam-paper-questions" class="flex flex-1 flex-col">
            <ul class="max-h-64 overflow-y-auto w-full space-y-1">
                {% for question in student_paper.questions_in_array %}
                <li class="flex justify-between p-1 group {{ student_paper.student_paper.current_position >= loop.index - 1   ? '' : 'hidden' }}">
                    <a href="#" class="{{ student_paper.student_paper.current_position > loop.index - 1   ? 'text-gray-700' : 'text-gray-900' }}">{{ show_item(loop.index, question|replace({'_': ' '})|lower|capitalize, label_attributes:'group-hover:text-blue-900 duration', value_attributes:'group-hover:text-blue-900 duration group-hover:underline')}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
            {{ show_header('') }}
            <a href="#" class="flex gap-x-4">{{ show_item('Submit')}}<span>❗</span></a>
    </div>  

</div>

{% endblock %}