{% from 'components/core/show-item' import show_item %}

{% for question in questions_in_array %}
<li class="flex justify-between p-1 group">
<button hx-patch="{{ route('student_answer.update', {student_paper : student_paper, question:question} ) }}"
        hx-target="#exam-content"
        hx-headers='{"X-CSRF-TOKEN": "{{ csrf_token() }}"}'
        hx-include="#answer-form"
        hx-swap="innerHTML"
        hx-trigger="click throttle:1000ms"
        hx-vals='{ "action": "jump", "index": {{ question.order_index }} }'
        type="button" 
        class="{{ student_paper.student_paper.current_position > loop.index - 1   ? 'text-gray-700' : 'text-gray-900' }}">{{ show_item(loop.index, question.question_type.value|replace({'_': ' '})|lower|capitalize, label_attributes:'group-hover:text-blue-900 duration', value_attributes:'group-hover:text-blue-900 duration group-hover:underline')}}</button>
</li>
{% endfor %}