{% from 'components/core/show-header' import show_header %}
{% from 'components/core/show-item' import show_item %}
{% if is_expired %}
<div class="flex flex-col">
    <div class="flex-1 prose max-w-none pointer-events-none select-none">
        <h2 class="flex border-b-2 p-2 border-gray-900">Exam has Expired.</h2>
    </div>
    <div id="answer-form" class="flex gap-x-2 p-2 select-none" hx-sync="this:queue">
        Submitting The Exam
        <div id="svg-loader"
            class="flex flex-row items-center justify-center gap-1">
            <div class="w-2 h-2 rounded-full bg-blue-900 animate-bounce [animation-delay:.1s]"></div>
            <div class="w-2 h-2 rounded-full bg-blue-900 animate-bounce [animation-delay:.2s]"></div>
            <div class="w-2 h-2 rounded-full bg-blue-900 animate-bounce [animation-delay:.3s]"></div>
        </div>
        <button hx-get="{{ route('exam_papers.auto_completed_redirect', {student_paper : student_paper} ) }}"
                hx-trigger="every 2s"
                hx-swap="outerHTML"
                type="button" 
                class="hidden">
        </button>
    </div>
</div>
{% else %}
<div class="flex flex-col">
    <div class="flex-1 prose max-w-none pointer-events-none select-none">
        <h2 class="flex border-b-2 p-2 border-gray-900">{{ student_paper.current_position + 1 }}. {{ question.name }}</h2>
    </div>
    <div id="answer-form" class="flex flex-col gap-y-2 p-4 select-none" hx-sync="this:queue">
        {% include 'students/papers/question_type_show' with { 'question':question, 'question_type_data':question_type_data} %}
    </div>
</div>
<div class="flex mt-8 gap-x-2 justify-between">
    {% if student_paper.current_position != 0 %}
        <button hx-patch="{{ route('student_answer.update', {student_paper : student_paper, question:question} ) }}"
                hx-target="#exam-content"
                hx-headers='{"X-CSRF-TOKEN": "{{ csrf_token() }}"}'
                hx-include="#answer-form"
                hx-swap="innerHTML"
                hx-trigger="click throttle:500ms"
                hx-vals='{"action":"back"}'
                type="button" 
                id="back"
                class="flex gap-x-1 justify-center items-center p-2 bg-blue-900 duration-300 transition rounded-lg font-medium text-white hover:bg-blue-700 hover:text-gray-50 cursor-pointer">        
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
        <path fill-rule="evenodd" d="M12.207 2.232a.75.75 0 0 0 .025 1.06l4.146 3.958H6.375a5.375 5.375 0 0 0 0 10.75H9.25a.75.75 0 0 0 0-1.5H6.375a3.875 3.875 0 0 1 0-7.75h10.003l-4.146 3.957a.75.75 0 0 0 1.036 1.085l5.5-5.25a.75.75 0 0 0 0-1.085l-5.5-5.25a.75.75 0 0 0-1.06.025Z" clip-rule="evenodd" />
        </svg>
        Back
    </button>
    {% endif %}
    {% if student_paper.current_position + 1 != student_paper.question_count %}
        <button hx-patch="{{ route('student_answer.update', {student_paper : student_paper, question:question} ) }}"
                hx-target="#exam-content"
                hx-headers='{"X-CSRF-TOKEN": "{{ csrf_token() }}"}'
                hx-include="#answer-form"
                hx-swap="innerHTML"
                hx-trigger="click throttle:500ms"
                hx-vals='{"action":"next"}'
                type="button" 
                id="next"
                class="flex gap-x-1 justify-center self-end items-center p-2 bg-blue-900 duration-300 transition rounded-lg font-medium text-white hover:bg-blue-700 hover:text-gray-50 cursor-pointer">
            Next
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
        <path fill-rule="evenodd" d="M3 10a.75.75 0 0 1 .75-.75h10.638L10.23 5.29a.75.75 0 1 1 1.04-1.08l5.5 5.25a.75.75 0 0 1 0 1.08l-5.5 5.25a.75.75 0 1 1-1.04-1.08l4.158-3.96H3.75A.75.75 0 0 1 3 10Z" clip-rule="evenodd" />
        </svg>
        </button>
    {% endif %}
    {% if student_paper.current_position + 1 == student_paper.question_count %}
        <button hx-patch ="{{ route('student_answer.update', {student_paper : student_paper, question:question} ) }}"
                hx-target="#exam-content"
                hx-headers='{"X-CSRF-TOKEN": "{{ csrf_token() }}"}'
                hx-swap="innerHTML"
                hx-trigger="click throttle:500ms"
                hx-include="#answer-form"
                hx-vals='{"action":"next"}'
                type="button" 
                class="flex gap-x-1 justify-center items-center p-2 bg-green-900 duration-300 transition  rounded-lg font-medium text-white hover:bg-green-700 hover:text-gray-50 cursor-pointer">
            Submit 
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 0 1 9 9v.375M10.125 2.25A3.375 3.375 0 0 1 13.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 0 1 3.375 3.375M9 15l2.25 2.25L15 12" />
        </svg>
        </button>
    {% endif %}
</div>
{% endif %}