<div class="bg-white border border-gray-300 rounded-lg shadow-sm p-4 min-w-72 max-w-80 mb-4">

    <div class="w-4 h-4 bg-blue-900 rounded-full shadow-md ring-2 ring-gray-300 z-10 mb-1"></div>
    <div class="flex flex-col p-1">
        <div class="flex justify-between items-start gap-4 w-full">
            <h2 class="text-lg font-semibold text-gray-800 flex-1 min-w-0 break-words">
                {{ record.studentPaper.exam.name|title }}
            </h2>
            <span class="text-lg text-gray-500 whitespace-nowrap">Attempt {{ record.attempt }}</span>
        </div>

    <div class="border-t border-gray-200 my-4"></div>

    <div class="grid grid-cols-2 gap-4 text-sm text-gray-700">
        <div>
        <span class="font-semibold">Score:</span> {{ record.total_score }} / {{ record.studentPaper.exam.max_score }}
        </div>
        <div>
        <span class="font-semibold">Time Taken:</span><br> {{ record.time_taken }}
        </div>
        <div>
        <span class="font-semibold">Status:</span>
        <span class="text-green-600 font-semibold">{{ record.status }}</span>
        </div>
        <div>
        <span class="font-semibold">Date Taken: </span><br> {{ record.date_taken|date('F d Y') }}
        </div>
    </div>

    <div class="mt-4 flex justify-start">
        <a href="/student/exams/exam.id" class="bg-blue-900 text-white text-sm font-semibold px-4 py-2 rounded hover:bg-blue-700 transition">
        Visit This Exam
        </a>
    </div>
    </div>
    
</div>