<div class="bg-white border border-gray-300 rounded-lg shadow-sm p-4 min-w-72 max-w-80 mb-4 transition duration-300 hover:scale-105">
    <div class="flex justify-between">
        <div class="w-4 h-4 bg-blue-900 rounded-full shadow-md ring-2 ring-gray-300 z-10 mb-1"></div>
            {% if record.status == "pass" %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="oklch(72.3% 0.219 149.579)" class="size-7">
            <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
            </svg>
        {% elseif record.status == "perfect_score" %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#FFD700" class="size-7">
            <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
            </svg>    
        {% endif %}
    </div>

    <div class="flex flex-col p-1">
        <div class="flex justify-between items-start gap-4 w-full">
            <h2 class="text-lg font-semibold text-gray-800 flex-1 min-w-0 break-words">
                {{ record.studentPaper.exam.name|title }}
            </h2>
            <span class="text-lg text-gray-500 whitespace-nowrap">Attempt {{ record.attempt }}</span>
        </div>

    <div class="border-t border-gray-200 my-4"></div>

    <div class="grid grid-cols-2 gap-4 text-sm text-gray-700">
        <div>
        <span class="font-semibold">Score:</span> {{ record.total_score }} / {{ record.studentPaper.exam.max_score }}
        </div>
        <div>
        <span class="font-semibold">Time Taken:</span><br> {{ record.time_taken }}
        </div>
            <div class="flex items-center">
        <a href="{{ route('exam_records.show', { exam: record.studentPaper.exam, exam_record: record}) }}" class="bg-blue-900 text-white text-xs font-semibold p-2 rounded hover:bg-blue-700 transition">
        Visit This Record
        </a>
    </div>
        <div>
        <span class="font-semibold">Date Taken: </span><br> {{ record.date_taken|date('M d Y') }}
        </div>
    </div>


    </div>
    
</div>