{% from 'components/core/breadcrumbs' import breadcrumb %}
{% from 'components/core/show-header' import show_header %}
{% import 'components/core/forms' as forms %}

{% extends 'components/core/faculty-layout' %}

{% block content %}
{{ vite('resources/js/text-editor.js')|raw }}
{{ breadcrumb() }}
<form id="test-code"
      hx-post="/test/send-data" 
      hx-target="#data-div">
    {{ csrf_field() }}
    <input class="hidden" name="type" value="coding">
    <textarea class="hidden" name="code" id="code-input"></textarea>
    <textarea class="hidden" name="test" id="test-input"></textarea>
    <textarea class="hidden" name="instruction" id="instruction-input"></textarea>

    <div class="flex flex-1 flex-col mx-16 gap-y-4">
        <div class="flex max-w-full rounded-xl bg-white px-2 shadow-sm ring-1 ring-gray-950/5">
        <div class="flex flex-col p-4 flex-1">
            {{ show_header('Create Coding Question') }}
            <div class="flex flex-col gap-y-4 justify-between w-full">
                <div class="flex flex-1/2 gap-x-4 w-full">
                {{ forms.form_field(
                    label:forms.label(
                        id:'course', 
                        content:'Course', 
                        attributes:{
                            'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900 after:text-red-500 after:content-[\'\*\']'}
                            ),
                    input:forms.select(
                        name:'course', 
                        values:courses, 
                        attributes:{
                            'class':'flex-1 cursor-pointer block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                            'placeholder':'Select a Course',
                            'required':true,
                            'hx-get' :'/questions/create/courses',
                            'hx-target': '#subjects',
                            'hx-select': '#subjects',
                            'hx-swap':'outerHTML',
                            'hx-trigger':'load, change'}
                    ),
                )}}
                {{ forms.form_field(
                    label:forms.label(
                        id:'subject', 
                        content:'Subject', 
                        attributes:{
                            'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900 after:text-red-500 after:content-[\'\*\']'}
                            ),
                    input:forms.select(
                        name:'subject', 
                        values:subjects, 
                        attributes:{
                            'class':'flex-1 cursor-pointer block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                            'placeholder':'Select a Subject',
                            'required':true,
                            'hx-get' :'/questions/create/subjects',
                            'hx-target': '#topics',
                            'hx-select': '#topics',
                            'hx-swap':'outerHTML',
                            'hx-trigger':'load, change',
                            'id': 'subjects'}
                    )
                )}}
                {{ forms.form_field(
                    label:forms.label(
                        id:'topic', 
                        content:'Topic', 
                        attributes:{
                            'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900 after:text-red-500 after:content-[\'\*\']'}
                            ),
                    input:forms.select(
                        name:'topic',
                        attributes:{
                            'class':'flex-1 cursor-pointer block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                            'placeholder':'Select a Topic',
                            'required':true,
                            'id': 'topics'}
                    ),
                )}}
                </div>
                {{ forms.form_field(
                    label:forms.label(
                        id:'points', 
                        content:'Points', 
                        attributes:{
                            'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900'}
                        ),
                    input:forms.number(
                        name:'points', 
                        attributes:{
                            'class':'flex-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                            'required':true,
                            'min':0,
                            'max':10,
                            'placeholder':'1 - 10 points'})
                )}}
            </div>
        </div>  
        </div>
        <div class="flex flex-1 justify-between max-w-full rounded-xl bg-white px-2 shadow-sm ring-1 ring-gray-950/5 gap-x-4">
        <div class="flex flex-col flex-1 resize-none min-w-0 p-4 mb-4">   
            <div class="flex flex-col h-16"> 
                {{ forms.form_field(
                    label:forms.label(
                        id:'name', 
                        content:'Name', 
                        attributes:{
                            'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900  after:text-red-500 after:content-[\'\*\']'}
                    ),
                    input:forms.text(
                        name:'name', 
                        attributes:{
                            'class':'w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                            }
                    )
                )}}
            </div>
            <div class="flex flex-1 rounded-t-md">
                <div class="flex flex-col flex-1 w-full overflow-auto ">
                    <div class="flex w-full bg-gray-800 p-2 rounded-t-md justify-between">
                        <h1 class="text-gray-50 font-semibold text-lg">
                            Instruction
                        </h1>
                        <button class="bg-gray-700 hover:bg-gray-600 hover:text-gray-50 cursor-pointer rounded-2xl p-2 text-xs text-gray-100 font-semibold">
                            Preview
                        </button>
                    </div>
                    <div id="instruction-div" class="max-w-full w-full overflow-auto text-gray-500 border-1 border-gray-500">
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col flex-1 resize-none min-w-0  p-4 ">
            <div class="flex h-16 pb-4">
                {{ forms.form_field(
                    label:forms.label(
                        id:'programming_language', 
                        content:'Programming Language', 
                        attributes:{
                            'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900 after:text-red-500 after:content-[\'\*\']'}
                            ),
                    input:forms.select(
                        name:'programming_language', 
                        values:programming_languages, 
                        attributes:{
                            'class':'flex-1 cursor-pointer block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                            'hx-on:change':'switchLanguageFromEvent(event)'
                        }
                    )
                )}}
            </div>
          
            <div class="flex flex-col gap-y-2 mb-4">
                <div class="flex flex-col rounded-md">
                    <h1 class="bg-gray-800 p-2  text-gray-50 font-semibold rounded-t-md">Student Solution</h1>
                    <div id="solution-div" class="flex-1 min-h-48 max-h-48 overflow-y-auto text-gray-500 border-1 border-gray-500"></div>
                    <span class="text-xs font-semibold text-gray-800 cursor-default">*Code what will be given to student</span>
                </div>
                <div class="flex flex-col rounded-md">
                    <h1 class="bg-gray-800 p-2  text-gray-50 font-semibold rounded-t-md">Sample Test</h1>
                    <div id="test-case-div" class="flex-1 min-h-48 max-h-48 overflow-y-auto text-gray-500 border-1 border-gray-500"></div>
                    <span class="text-xs font-semibold text-gray-800 cursor-default">*Scaffold programing languages codes for both student solution and sample test </span>

                </div>
            </div>     

        </div>
        </div>
        <div class="flex gap-x-2">
        <button type="submit" class="cursor-pointer bg-blue-900 text-gray-200 hover:bg-blue-600 hover:text-white duration-300 rounded-lg px-2 py-1 font-semibold text-sm"
                hx-on:click="getSolutionCode(), getTestCaseCode(), getInstructionCode()">
                Create Question</button>
        <a href="/questions" class="cursor-pointer bg-white border-1 border-gray-600 text-gray-900 hover:bg-red-500 hover:border-white hover:text-white duration-300 rounded-lg p-2 font-semibold">Cancel</a>
        </div>
    <div id="data-div">
        replace me with results
    </div>

    </div>
</form>

{% endblock %}