{% from 'components/core/breadcrumbs' import breadcrumb %}
{% from 'components/core/show-header' import show_header %}
{% import 'components/core/forms' as forms %}
{% set faculty_layout = '' %}
{% set faculty_layout = 'components/core/faculty-layout' %}


{% extends faculty_layout %}

{% block content %}
{{ breadcrumb() }}
{{ vite('resources/js/edit-coding-text-editor.js')|raw }}
    <div class="flex flex-1 flex-col mx-16 gap-y-4">
        <div class="flex flex-col flex-1 p-4 max-w-full rounded-xl bg-white shadow-sm ring-1 ring-gray-950/5">
            {{ show_header('Testing Coding Question: ' ~ question.name|title) }}
            <div class="flex flex-col gap-y-4 justify-between w-full">
                <div id="points-forms" class="flex flex-1 gap-x-4 w-full">
                    <div class="flex flex-col flex-1">
                        {{ forms.form_field(
                            label:forms.label(
                                id:'syntax_points', 
                                content:'🟢 Syntax/Compiling Points', 
                                attributes:{
                                    'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900'}
                                ),
                            input:forms.number(
                                name:'syntax_points', 
                                value : isEdit ? question_type_data.syntax_points : '',
                                attributes:{
                                    'class':'flex-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                                    'required': true,
                                    'min':0,
                                    'max':10,
                                    'placeholder':'1 - 10 points'}),
                            isColumn: true
                        )}}
                        <div id="syntax-points-form-error"></div>
                    </div>
                    <div class="flex flex-col flex-1">
                           {{ forms.form_field(
                            label:forms.label(
                                id:'runtime_points', 
                                content:'🟢 Runtime Points', 
                                attributes:{
                                    'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900'}
                                ),
                            input:forms.number(
                                name:'runtime_points', 
                                value : isEdit ? question_type_data.runtime_points : '',
                                attributes:{
                                    'class':'flex-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                                    'required': true,
                                    'min':0,
                                    'max':10,
                                    'placeholder':'1 - 10 points'}),
                            isColumn: true
                        )}}
                        <div id="runtime-points-form-error"></div>
                    </div>
                    <div class="flex flex-col flex-1">
                         {{ forms.form_field(
                            label:forms.label(
                                id:'test_case_points', 
                                content:'🟢 Test Case Points', 
                                attributes:{
                                    'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900'}
                                ),
                            input:forms.number(
                                name:'test_case_points', 
                                value : isEdit ? question_type_data.test_case_points : '',
                                attributes:{
                                    'class':'flex-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                                    'required': true,
                                    'min':0,
                                    'max':10,
                                    'placeholder':'1 - 10 points'}),
                            isColumn: true
                        )}}
                        <div id="test-case-points-form-error"></div>
                    </div>
                </div>
                <div id="points-deduction-forms" class="flex flex-1 gap-x-4 w-full">
                    <div class="flex flex-col flex-1">
                        {{ forms.form_field(
                            label:forms.label(
                                id:'syntax_points_deduction', 
                                content:'🔴 Syntax/Compiling Points Deduction Per Error', 
                                attributes:{
                                    'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900'}
                                ),
                            input:forms.number(
                                name:'syntax_points_deduction', 
                                value : isEdit ? question_type_data.syntax_points_deduction_per_error : '',
                                attributes:{
                                    'class':'flex-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                                    'required': true,
                                    'min':0,
                                    'max':10,
                                    'placeholder':'1 - 10 points'}),
                            isColumn: true
                        )}}
                        <div id="syntax-points-deduction-form-error"></div>
                    </div>
                    <div class="flex flex-col flex-1">
                           {{ forms.form_field(
                            label:forms.label(
                                id:'runtime_points_deduction', 
                                content: '🔴 Runtime Points Deduction Per Error', 
                                attributes:{
                                    'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900'}
                                ),
                            input:forms.number(
                                name:'runtime_points_deduction', 
                                value : isEdit ? question_type_data.runtime_points_deduction_per_error : '',
                                attributes:{
                                    'class':'flex-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                                    'required': true,
                                    'min':0,
                                    'max':10,
                                    'placeholder':'1 - 10 points'}),
                            isColumn: true
                        )}}
                        <div id="runtime-points-deduction-form-error"></div>
                    </div>
                    <div class="flex flex-col flex-1">
                         {{ forms.form_field(
                            label:forms.label(
                                id:'test_case_points_deduction', 
                                content:'🔴 Test Case Points Deduction Per Error', 
                                attributes:{
                                    'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900'}
                                ),
                            input:forms.number(
                                name:'test_case_points_deduction', 
                                value : isEdit ? question_type_data.test_case_points_deduction_per_error : '',
                                attributes:{
                                    'class':'flex-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                                    'required': true,
                                    'min':0,
                                    'max':10,
                                    'placeholder':'1 - 10 points'}),
                            isColumn: true
                        )}}
                        <div id="test-case-points-deduction-form-error"></div>
                    </div>
                    
                </div>
                <div class="flex flex-1 rounded-t-md">
                    <div class="flex flex-col flex-1 w-full overflow-auto ">
                        <div class="flex flex-col flex-1 w-full ">
                            <div class="flex w-full bg-gray-800 p-2 rounded-t-md justify-between">
                                <h1 class="text-gray-50 p-2 font-semibold text-lg">
                                    Instruction
                                </h1>
                            </div>
                            <div class="flex-1 overflow-y-auto p-4 min-w-full border-b-2 border-x-2 border-gray-500 prose prose-sm">
                                <p>{{ question_type_data.instruction|raw }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="flex flex-1 justify-between max-w-full rounded-xl bg-white px-2 shadow-sm ring-1 ring-gray-950/5 gap-x-4">
            <div class="flex flex-col flex-1 min-w-0 p-4 gap-y-1">
                <div class="flex h-32 pb-4 justify-between">
                    <div class="flex flex-col gap-2">
                        <div class="flex items-center gap-x-2">
                            {{ forms.form_field(
                                label:forms.label(
                                    id:'programming_language', 
                                    content:'Programming Language', 
                                    attributes:{
                                        'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900 after:text-red-500 after:content-[\'\*\']'}
                                        ),
                                input:forms.select(
                                    name:'programming_language', 
                                    values:languages, 
                                    attributes:{
                                        'class':'flex-1 cursor-pointer block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 capitalize',
                                        'hx-on:change':'switchLanguageFromEvent(event)',
                                        'required':true
                                    }
                                ),
                                isColumn: true
                            )}}
                            <div id="language-form-error"></div>
                        </div>
                    </div>
                    <div id="loader" class="htmx-indicator m-auto transition-opacity duration-500 opacity-0 pointer-events-none">
                        <img class="mr-10" width="50" src="{{ asset('images/bars-scale.svg') }}"/>
                    </div>
                    <form id="validate-complete-solution-form"
                        hx-post="{{ route('validate.coding.question') }}"
                        hx-target="#validate-div"
                        hx-swap="outerHTML"
                        hx-include="#points-forms, #points-deduction-forms"
                        hx-indicator="#loader"
                        hx-swap-oob="#debug-popover-div"
                        onsubmit="validateLanguageCompleteSolution(true)">
                        
                        {{ csrf_field() }}

                        <!-- Hidden Fields -->
                        <input type="hidden" name="validate_syntax_points" id="validate_syntax_points_hidden">
                        <input type="hidden" name="validate_runtime_points" id="validate_runtime_points_hidden">
                        <input type="hidden" name="validate_test_case_points" id="validate_test_case_points_hidden">

                        <input type="hidden" name="validate_syntax_points_deduction" id="validate_syntax_points_deduction_hidden">
                        <input type="hidden" name="validate_runtime_points_deduction" id="validate_runtime_points_deduction_hidden">
                        <input type="hidden" name="validate_test_case_points_deduction" id="validate_test_case_points_deduction_hidden">

                        <textarea class="hidden" name="validate-complete-solution" id="validate-complete-solution-input"></textarea>
                        <textarea class="hidden" name="validate-test-case" id="validate-test-case-input"></textarea>
                        <input type="text" class="hidden" name="language-to-validate" id="language_to_validate-input">

                        <!-- Move buttons here -->
                        <div id="button-actions" class="flex flex-col items-end gap-y-2">
                            <div class="flex gap-2">
                                <span class="whitespace-nowrap text-sm/6 font-medium text-gray-900 after:text-red-500 after:content-[\'\*\']'">
                                    Syntax Coding Question Only?
                                </span>
                                <label class="relative block w-10 h-5 cursor-pointer select-none">
                                    <input id="syntax-only-checkbox" name="syntax_only_checkbox" type="checkbox" class="peer" value="1" {{ isEdit ? question_type_data.is_syntax_code_only ? 'checked' : ''}} />
                                    <div class="absolute top-[3px] left-[-2px] w-[34px] h-[16px] rounded-full bg-red-400 transition-colors duration-200 peer-checked:bg-green-400"></div>
                                    <span class="absolute top-0 left-[-2px] w-5 h-5 bg-red-600 rounded-full shadow-[0_3px_8px_rgba(154,153,153,0.5)] transition-all duration-200 
                                                peer-checked:bg-green-600 peer-checked:translate-x-5 peer-checked:shadow-gray-400
                                                before:content-[''] before:absolute before:block before:-m-[18px] before:w-[56px] before:h-[56px] 
                                                before:bg-[rgba(79,46,220,0.5)] before:rounded-full before:scale-0 before:opacity-100 before:pointer-events-none 
                                                peer-checked:before:scale-100 peer-checked:before:opacity-0 peer-checked:before:transition-all peer-checked:before:duration-400">
                                    </span>
                                </label>
                            </div>
                            <button type="submit" name="action" value="check"
                                    class="flex w-fit items-center justify-start gap-x-1 cursor-pointer bg-green-900 text-gray-200 hover:bg-green-600 hover:text-white duration-300 rounded-lg p-2 text-sm font-semibold
                                        disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 disabled:fill-gray-500">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
                                    <path fill-rule="evenodd" d="M10.5 3.798v5.02a3 3 0 0 1-.879 2.121l-2.377 2.377a9.845 9.845 0 0 1 5.091 1.013 8.315 8.315 0 0 0 5.713.636l.285-.071-3.954-3.955a3 3 0 0 1-.879-2.121v-5.02a23.614 23.614 0 0 0-3 0Zm4.5.138a.75.75 0 0 0 .093-1.495A24.837 24.837 0 0 0 12 2.25a25.048 25.048 0 0 0-3.093.191A.75.75 0 0 0 9 3.936v4.882a1.5 1.5 0 0 1-.44 1.06l-6.293 6.294c-1.62 1.621-.903 4.475 1.471 4.88 2.686.46 5.447.698 8.262.698 2.816 0 5.576-.239 8.262-.697 2.373-.406 3.092-3.26 1.47-4.881L15.44 9.879A1.5 1.5 0 0 1 15 8.818V3.936Z" clip-rule="evenodd" />
                                    </svg>

                                    Check Solution
                            </button>
                        </div>
                    </form>

                </div>

                <div id="validate-div"></div>


                <div class="flex flex-col gap-y-4 mb-4">
                    <div class="flex flex-1 flex-col rounded-md">
                        <div class="flex w-full bg-gray-800 p-2 justify-between rounded-t-md">
                            <button type="button" class="bg-gray-800 text-gray-50 font-semibold p-4 rounded-md hover:bg-gray-50 hover:text-gray-900 duration-300 text-sm">Complete Solution</button>
                        </div>
                        <div class="flex">
                            <div id="solution-div" class="flex-1 min-h-48 max-h-48 overflow-y-auto text-gray-500 border-1 border-gray-500"></div>
                        </div>
                    </div>
                    <div class="flex flex-1 flex-col rounded-md">
                        <div class="flex w-full bg-gray-800 p-2 justify-between rounded-t-md">
                            <button type="button" class="bg-gray-800 text-gray-50 font-semibold p-4 rounded-md hover:bg-gray-50 hover:text-gray-900 duration-300  text-sm">Test Case</button>
                        </div>         
                        <div class="flex">
                            <div id="test-case-div" class="flex-1 min-h-48 max-h-48 overflow-y-auto text-gray-500 border-1 border-gray-500"></div>
                        </div>
                        <span class="text-xs font-semibold text-gray-800 cursor-default">*Scaffold programing languages codes for both student solution and sample test </span>
                    </div>
                </div>     

            </div>
        </div>
        <div class="flex gap-x-2">
            <a href="{{ app.request.headers.get('referer') }}" class="cursor-pointer bg-white border-1 border-gray-600 text-gray-900 hover:bg-red-500 hover:border-white hover:text-white duration-300 rounded-lg p-2 font-semibold">Go Back</a>
        </div>
    </div>

<div id="debug-popover-div"
 class="hidden">
</div>
<script>
    window.instruction = JSON.parse('{{ question_type_data.instruction_raw|json_encode|e("js") }}');
    window.question_supported_languages = JSON.parse('{{ question_type_data.language_codes|json_encode|e("js") }}');
</script>
{% endblock %}