{% from 'components/core/show-nav-item' import show_nav_item %}
{% from 'components/core/breadcrumbs' import breadcrumb %}
{% from 'components/core/show-header' import show_header %}
{% from 'components/core/show-item' import show_item %}
{% import 'components/core/forms' as forms %}

{% extends 'components/core/faculty-layout' %}

{% block content %}

{{ breadcrumb() }}
<div class="flex flex-col mx-4 pl-4">
    <div class="flex justify-between">
    <h1 class="font-bold text-4xl">Edit {{ exam.name }}</h1>
    <button form="delete-form" type="submit" class="cursor-pointer bg-red-600 text-gray-200 hover:bg-red-500 hover:text-white duration-300 rounded-lg px-2 py-1 font-semibold text-sm">Delete Exam</button>
    </div>
    <div class="flex flex-col gap-y-0.5">
        <span class="pl-2 text-xs text-gray-400 font-semibold">{{ exam.course.name }}</span>
        <span class="pl-2 text-xs text-gray-400 font-semibold">ID : {{ exam.id }}</span>
    </div>
    
</div>

<div class="flex flex-1 flex-col gap-y-4">
    <div class="flex max-w-full gap-x-4 overflow-x-auto mx-auto rounded-xl bg-white p-2 shadow-sm ring-1 ring-gray-950/5 ">
        {{ show_nav_item('/exams/'~exam.id, 
                        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                            <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                            <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z" clip-rule="evenodd" />
                        </svg>',
                        'View') }}
                        {% if can('update exams') %}
        {{ show_nav_item('/exams/'~exam.id~'/edit', 
                        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                            <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z" />
                        </svg>',
                        'Edit') }}
                        {% endif %}
        {{ show_nav_item('/exams/'~exam.id~'/builder', 
                        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" fill="currentColor" class="size-5">
                            <path d="M80 160c0-35.3 28.7-64 64-64l32 0c35.3 0 64 28.7 64 64l0 3.6c0 21.8-11.1 42.1-29.4 53.8l-42.2 27.1c-25.2 16.2-40.4 44.1-40.4 74l0 1.4c0 17.7 14.3 32 32 32s32-14.3 32-32l0-1.4c0-8.2 4.2-15.8 11-20.2l42.2-27.1c36.6-23.6 58.8-64.1 58.8-107.7l0-3.6c0-70.7-57.3-128-128-128l-32 0C73.3 32 16 89.3 16 160c0 17.7 14.3 32 32 32s32-14.3 32-32zm80 320a40 40 0 1 0 0-80 40 40 0 1 0 0 80z"/>
                        </svg>',
                        'Exam Builder') }}
    </div>
    
    <div class="flex flex-1 flex-col mx-16">
        <form action="/exams/{{ exam.id }}" method="POST" class="flex flex-col gap-y-4">
            {{ csrf_field() }}
            {{ method_field('PATCH') }}
            <div class="flex max-w-full rounded-xl bg-white px-2 shadow-sm ring-1 ring-gray-950/5">
                <div class="flex flex-col p-4 flex-1">
                    {{ show_header('Details') }}
                    <div class="flex gap-x-32 justify-between w-full">
                        <div class="flex flex-col gap-y-4 w-full">
                            {{ forms.form_field(
                                label:forms.label(
                                    id:'name', 
                                    content:'Name', 
                                    attributes:{
                                        'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900  after:text-red-500 after:content-[\'\*\']'}
                                ),
                                input:forms.text(
                                    name:'name', 
                                    value:exam.name,
                                    attributes:{
                                        'class':'block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                                        'required':true}
                                ),
                                errors:errors.get('name'),
                                isColumn:true 
                            )}}
                            {{ forms.form_field(
                                label:forms.label(
                                    id:'course_id', 
                                    content:'Course', 
                                    attributes:{
                                        'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900 after:text-red-500 after:content-[\'\*\']'}
                                        ),
                                input:forms.text(
                                    name:'course_id', 
                                    attributes:{
                                        'class':'block w-full cursor-not-allowed rounded-md  px-3 py-1.5 bg-gray-100 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 sm:text-sm/6',
                                        'placeholder': exam.course.name,
                                        'disabled':true
                                    }
                                ),
                                isColumn:true 
                            )}}
                        </div>
                        <div class="flex flex-1/2 flex-col gap-y-4 w-full">
                            {{ forms.form_field(
                                label:forms.label(
                                    id:'author', 
                                    content:'Author', 
                                    attributes:{
                                        'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900'}
                                ),
                                input:forms.text(
                                    name:'author', 
                                    attributes:{
                                        'class':'block w-full cursor-not-allowed rounded-md  px-3 py-1.5 bg-gray-100 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 sm:text-sm/6',
                                        'placeholder': exam.createdBy.getFullName(),
                                        'disabled':true}
                                ),
                                isColumn:true 
                            )}}
                            {{ forms.form_field(
                                label:forms.label(
                                    id:'code', 
                                    content:'Access Code', 
                                    attributes:{
                                        'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900'}
                                ),
                                input:forms.text(
                                    name:'code', 
                                    attributes:{
                                        'class':'block w-full cursor-not-allowed rounded-md bg-gray-100 px-3 py-1.5 text-white outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 sm:text-sm/6',
                                        'placeholder': exam.access_code,
                                        'disabled':true}
                                ),
                                isColumn:true 
                            )}}
                            <button type="button" hx-get="/exams/{{ exam.id }}/edit/generate_access_code" hx-target="#code" hx-swap="outerHTML transition:true" class="flex cursor-pointer hover:underline text-sm text-blue-600 font-semibold">Regenerate new access code</button>
                        </div>
                    </div>
                </div>  
            </div>
    
            <div class="flex max-w-full rounded-xl bg-white px-2 shadow-sm ring-1 ring-gray-950/5">
                <div class="flex flex-col p-4 flex-1">
                    {{ show_header('Settings') }}
                    <div class="flex gap-x-32 justify-between w-full">
                        <div class="flex flex-col gap-y-4 w-full mr-96">
                            {{ forms.form_field(
                                label:forms.label(
                                    id:'max_score', 
                                    content:'Max Score', 
                                    attributes:{
                                        'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900'}
                                    ),
                                input:forms.number(
                                    name:'max_score', 
                                    value: exam.max_score,
                                    attributes:{
                                        'class':'block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                                        'min':0
                                    }),
                                errors:errors.get('max_score'),
                            )}}
                            {{ forms.form_field(
                                label:forms.label(
                                    id:'duration', 
                                    content:'Duration (in minutes)', 
                                    attributes:{
                                        'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900'}
                                    ),
                                input:forms.number(
                                    name:'duration', 
                                    value: exam.duration, 
                                    attributes:{
                                        'class':'flex-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                                        'min':0,
                                        'placeholder':'Leave blank for unlimited duration'})
                            )}}
                            {{ forms.form_field(
                                label:forms.label(
                                    id:'retakes', 
                                    content:'Retakes', 
                                    attributes:{
                                        'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900'}
                                ),
                                input:forms.number(
                                    name:'retakes', 
                                    value: exam.retakes,
                                    attributes:{
                                        'class':'block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                                        'min':0,
                                        'placeholder':'Leave blank for unlimited retakes'})
                            )}}
                            {{ forms.form_field(
                                label:forms.label(
                                    id:'examination_date', 
                                    content:'Examination Date', 
                                    attributes:{
                                        'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900'}
                                    ),
                                input:forms.date(
                                    name:'examination_date', 
                                    value: exam.examination_date == null ? false : exam.examination_date|date('Y-m-d'),
                                    attributes:{
                                        'class':'required:bg-red-500 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6'}
                                    ),
                                errors:errors.get('examination_date')
                            )}}
                        </div>
                    </div>
                </div>  
            </div>
    
            <div class="flex gap-x-2">
                <button type="submit" class="cursor-pointer bg-blue-900 text-gray-200 hover:bg-blue-600 hover:text-white duration-300 rounded-lg px-2 py-1 font-semibold text-sm">
                    Update Exam
                </button>
                <a href="/exams" class="cursor-pointer bg-white border-1 border-gray-600 text-gray-900 hover:bg-red-500 hover:border-white hover:text-white duration-300 rounded-lg p-2 font-semibold">Cancel</a>
            </div>
        </form>

        <form method="POST" action="/exams/{{ exam.id }}" class="hidden" id="delete-form">
            {{ csrf_field() }}
            {{ method_field('DELETE') }}
        </form>
    </div>
</div>

{% endblock %}