<tbody  hx-get="{{ route('accesscodes.get', { exam: exam } )}}"
        hx-trigger="mouseenter throttle:10s"
        hx-target="this"
        hx-swap="outerHTML"
        hx-sync="#save-access-code-button">
{% for code in access_codes %}
    <tr id="{{ code.access_code }}-row" class="border-t border-gray-900/10 text-center ">
        <td 
            class="w-[90%] px-4 py-2 font-mono cursor-pointer select-all hover:bg-blue-50">
            {{ code.access_code }}
        </td>
        <td 
            class="flex w-full justify-center items-center">
            <button type="button" 
                    hx-delete="{{ route('accesscodes.destroy', { exam: exam } )}}" 
                    hx-confirm="Are you sure?" 
                    hx-target="closest tr" 
                    hx-swap="outerHTML swap:1s"
                    hx-headers='{"X-CSRF-TOKEN": "{{ csrf_token() }}"}'
                    hx-vals='{ "code" : "{{code.access_code}}" }'
                    class="flex text-xl font-bold text-red-700 hover:text-red-500 transition-colors cursor-pointer items-center">
                    X
            </button>
        </td>
    </tr>
{% endfor %}
</tbody>