    {% from 'components/core/show-nav-item' import show_nav_item %}
    {% from 'components/core/breadcrumbs' import breadcrumb %}
    {% from 'components/core/show-header' import show_header %}
    {% from 'components/core/show-item' import show_item %}
    {% import 'components/core/forms' as forms %}


    {% extends 'components/core/faculty-layout' %}

    {% block content %}
    {{ breadcrumb() }}
    <div class="flex flex-col mx-4 pl-4">
        <h1 class="font-bold text-4xl">{{ exam.name }}</h1>
        <div class="flex flex-col gap-y-1">
            <div class="flex flex-wrap w-full pl-2 gap-0.5">
                <p class="text-xs text-gray-400 font-semibold">Course/s : </p>
                    {% for course in exam.courses %}
                    <span class=" inline-flex items-center px-2 py-0.5 min-w-fit  bg-blue-100 rounded-full text-blue-900 font-semibold text-xs select-none"> 
                    {{ course.abbreviation }}
                    </span>
                    {% endfor %}
            </div>
            <span class="pl-2 text-xs text-gray-400 font-semibold">ID : {{ exam.id }}</span>
        </div>
    </div>

    <div class="flex flex-1 flex-col gap-y-4">
        <div class="flex max-w-full gap-x-4 overflow-x-auto mx-auto rounded-xl bg-white p-2 shadow-sm ring-1 ring-gray-950/5 ">
            {{ show_nav_item('/exams/'~exam.id, 
                            '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                                <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z" clip-rule="evenodd" />
                            </svg>',
                            'View') }}
                            {% if can('update exams') and not exam.is_published %}
            {{ show_nav_item('/exams/'~exam.id~'/edit', 
                            '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                                <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z" />
                            </svg>',
                            'Edit') }}
                            {% endif %}
            {{ show_nav_item('/exams/'~exam.id~'/builder', 
                            '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" fill="currentColor" class="size-5">
                                <path d="M80 160c0-35.3 28.7-64 64-64l32 0c35.3 0 64 28.7 64 64l0 3.6c0 21.8-11.1 42.1-29.4 53.8l-42.2 27.1c-25.2 16.2-40.4 44.1-40.4 74l0 1.4c0 17.7 14.3 32 32 32s32-14.3 32-32l0-1.4c0-8.2 4.2-15.8 11-20.2l42.2-27.1c36.6-23.6 58.8-64.1 58.8-107.7l0-3.6c0-70.7-57.3-128-128-128l-32 0C73.3 32 16 89.3 16 160c0 17.7 14.3 32 32 32s32-14.3 32-32zm80 320a40 40 0 1 0 0-80 40 40 0 1 0 0 80z"/>
                            </svg>',
                            'Exam Builder') }}
        </div>

        <div class="flex max-w-full mx-8 rounded-xl bg-white px-2 shadow-sm ring-1 ring-gray-950/5">
            <div class="flex flex-col p-4 flex-1">
                {{ show_header('Details') }}
                <div class="flex justify-between">
                    <div class="flex flex-col gap-y-4">
                        {{ show_item('Name', exam.name)}}
                        {{ show_item('Current Question Count', exam.questions.count())}}
                        {{ show_item('Current Total Score', exam.questions.sum('total_points'))}}
                    </div>
                    <div class="flex flex-col mr-16 gap-y-4">
                        <div class="flex gap-x-2">
                            <span class="font-medium">Access Codes :</span>
                            <input  type="button" 
                                    class="hover:font-medium underline cursor-pointer"
                                    popovertarget="access-code-popover" 
                                    value="View Access Codes">
                        </div>
                        {{ show_item('Author', exam.createdBy.getFullName()) }}
                        {{ show_item('Updated By', exam.updatedBy.getFullName()) }}
                    </div>
                </div>
            </div>  
        </div>
        <div class="flex max-w-full mx-8 rounded-xl bg-white px-2 shadow-sm ring-1 ring-gray-950/5">
            <div class="flex flex-col p-4 flex-1">
                {{ show_header('Settings') }}
                <div class="flex justify-between">
                    <div class="flex flex-col gap-y-4">
                        {{ show_item('Max Score', exam.max_score)}}
                        {{ show_item('Passing Score (%)', exam.passing_score ~ '% = ' ~ exam.max_score * (exam.passing_score / 100) ~ 'pts' ) }}
                        {{ show_item('Duration (in minutes)', exam.duration ?: 'Unlimited Duration')}}
                        {{ show_item('Retakes', exam.retakes ?: 'Unlimited Retakes')}}
                    </div>
                    <div class="flex flex-col mr-16 gap-y-4">
                        {% if exam.questions.sum('total_points') == exam.max_score %}
                            {{ show_item('Is Currently', 'Can be Published', value_attributes:'text-green-600 py-0.5 px-2 rounded-full bg-green-100')}}
                        {% elseif exam.questions.sum('total_points') > exam.max_score %}
                            {{ show_item('Is Currently', 'Current Points exceeds Maximum Score', value_attributes:'text-orange-600 py-0.5 px-2 rounded-full bg-orange-100')}}
                        {% else %}
                            {{ show_item('Is Currently', 'Current Points is not equal to Maximum Score', value_attributes:'text-red-600 py-0.5 px-2 rounded-full bg-red-100')}}
                        {% endif %}                    
                        {{ show_item('Publish Status', exam.is_published ? 'Published' : 'Unpublished', value_attributes: exam.is_published ? 'text-green-600  py-0.5 px-2 rounded-full bg-green-100' : 'text-red-600  py-0.5 px-2 rounded-full bg-red-100')}}
                        {{ show_item('Examination Date', exam.examination_date != null ? exam.examination_date|date('h:i A d M Y') : "No Examination Date") }}
                        {{ show_item('Expiration Date', exam.expiration_date != null ? exam.expiration_date|date('h:i A d M Y', false) :  "No Expiration Date") }}
                    </div>
                </div>
            </div>  
        </div>
    </div>

    <div popover="manual"
        class="backdrop:bg-gray-900/15  htmx-animate m-auto rounded-xl w-96" 
        id="access-code-popover"
        >
            <button type="button"
                    popovertarget="access-code-popover" 
                    popovertargetaction="hide" 
                    class="absolute top-2 right-2 p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6 cursor-pointer text-gray-900">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>

            </button>

            <div class="flex flex-col p-10 max-w-full rounded-xl bg-white">
                                <div class="flex w-full justify-center gap-x-2 bg-white p-4 rounded border-1 border-gray-900/10">
                                    <div class="flex flex-1 justify-center items-center">
                                        {{ forms.label(
                                                id:'code', 
                                                content:'Access Code', 
                                                attributes:{
                                                    'class':'hidden'}
                                            )}}
                                        {{forms.text(
                                                name:'code', 
                                                attributes:{
                                                    'class':'font-mono w-full cursor-not-allowed rounded-md bg-gray-100 p-2 text-white outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 sm:text-sm/6',
                                                    'placeholder': 'CODE-SAMP',
                                                    'disabled':true}
                                            )
                                        }}
                                    </div>
                                    <button id="save-access-code-button" type="button" class="hidden" disabled></button>
                                    
                                    <button 
                                            type="button"
                                            hx-get="{{ route('accesscodes.generate', { exam: exam } )}}" hx-target="#code" hx-select-oob="#save-access-code-button" hx-swap="outerHTML transition:true" hx-trigger="load, click"
                                            class="cursor-pointer bg-blue-900 text-xs ml-auto text-white p-2 font-semibold rounded hover:bg-blue-700 duration-300">
                                            Generate
                                    </button>
                                </div>
                <div class="bg-white rounded shadow overflow-y-auto max-h-[200px]">
                            <table class="w-full table-auto">
                                <thead class="bg-blue-900 text-left sticky top-0">
                                    <tr class="text-center">
                                        <th class="px-4 py-2 text-white font-bold w-[90%]">Access Codes</th>
                                        <th class="px-4 py-2 text-white font-bold w-[10%]">Action</th>
                                    </tr>
                                </thead>
                                <tbody  hx-get="{{ route('accesscodes.get', { exam: exam } )}}"
                                        hx-trigger="load"
                                        hx-swap="outerHTML"
                                        hx-target="this"
                                        class="min-w-24"
                                        id="access-code-body">
                                        <tr>
                                            <td class="px-4 py-2 w-[90%]">ABC123</td>
                                            <td class="px-4 py-2 w-[10%]">
                                                <button class="bg-blue-500 text-white px-2 py-1 rounded">Edit</button>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                </div>
            </div>
    </div>


<style>
tr.fade-out td {
    opacity: 0;
    transition: opacity 1s ease-out;
}
</style>

    {% endblock %}
